In [93]:
import pandas as pd
import numpy as np
import stat
import re
import warnings
warnings.filterwarnings("ignore")

In [94]:
#cd 'cleaning'

In [95]:
#analysis = pd.read_csv("FF_HEALTH_DC3_ANALYSIS.csv")
roster = pd.read_csv("OCONNELL_ROSTER.CSV")
dictionary = pd.read_csv("OCONNELL_QUESTION_DICTIONARY_NEW.csv")
raw = pd.read_csv("OCONNELL_CHECKIN03_RAW.csv")

full_cleaned_data = pd.read_csv("full_cleaned.csv")

In [96]:
full_cleaned_data["TeamNumber"] = full_cleaned_data["GroupNumber"]

In [97]:
full_cleaned_data = full_cleaned_data#.drop(34).reset_index(drop=True)

In [98]:
#full_cleaned_data[full_cleaned_data["Email"] == 'tjz@berkeley.edu']#['2.1']

In [99]:
quant = [str(x) for x in list(dictionary[dictionary["type"] == 'quantitative']["question_id"])]

numerical_data = full_cleaned_data[['TeamNumber', 'TeammateNumber','2.1',
 '2.2',
 '2.3',
 '4.1',
 '4.2',
 '4.3',
 '4.4', 
 '4.5',
 '4.6',
 '4.7',
 '5.1',
 '5.2',
 '5.3',
 '5.4', 
 '5.5',
 '5.6',
 '16.1',
 '16.2',
 '16.3',
 '16.4', 
 '16.5',
 '16.6',
 '17.1',
 '17.2',
 '17.3',
 '17.4', '17.5',
 '17.6',
 '18.1',
 '18.2',
 '18.3',
 '18.4', '18.5',
 '18.6',
 '19.1',
 '19.2',
 '19.3',
 '19.4', '19.5',
 '19.6', '25']]
numerical_data = numerical_data.replace({"No Response" : np.nan})
numerical_data.head()

,TeamNumber,TeammateNumber,2.1,2.2,2.3,4.1,4.2,4.3,4.4,4.5,...,18.4,18.5,18.6,19.1,19.2,19.3,19.4,19.5,19.6,25
0,1.0,1.0,7.0,7.0,7.0,7.0,7.0,7.0,7.0,7.0,...,7.0,7.0,7.0,7.0,7.0,7.0,7.0,7.0,7.0,1
1,1.0,2.0,6.0,7.0,6.0,6.0,6.0,6.0,6.0,6.0,...,7.0,7.0,NaN,7.0,7.0,7.0,7.0,7.0,NaN,2
2,1.0,3.0,7.0,7.0,7.0,7.0,7.0,7.0,7.0,7.0,...,7.0,7.0,NaN,7.0,7.0,7.0,7.0,7.0,NaN,1
3,1.0,4.0,6.0,6.0,6.0,6.0,5.0,6.0,6.0,6.0,...,7.0,7.0,NaN,7.0,7.0,7.0,7.0,7.0,NaN,2
4,1.0,5.0,6.0,6.0,7.0,6.0,6.0,7.0,7.0,6.0,...,7.0,7.0,NaN,7.0,7.0,7.0,7.0,7.0,NaN,2

In [100]:
numerical_data = numerical_data.astype(float)
numerical_data["Email"] = full_cleaned_data["Email"]
numerical_data = numerical_data.sort_values(["TeamNumber", "TeammateNumber"], ascending=True).reset_index()
full_cleaned_data = full_cleaned_data.sort_values(["TeamNumber", "TeammateNumber"], ascending=True).reset_index()
roster["TeamNumber"] = roster["GroupNumber"]
roster = roster.sort_values(["TeamNumber", "TeammateNumber"], ascending=True).reset_index()

In [101]:
numerical_data

,index,TeamNumber,TeammateNumber,2.1,2.2,2.3,4.1,4.2,4.3,4.4,...,18.5,18.6,19.1,19.2,19.3,19.4,19.5,19.6,25,Email
0,0,1.0,1.0,7.0,7.0,7.0,7.0,7.0,7.0,7.0,...,7.0,7.0,7.0,7.0,7.0,7.0,7.0,7.0,1.0,nikolai_seva@berkeley.edu
1,1,1.0,2.0,6.0,7.0,6.0,6.0,6.0,6.0,6.0,...,7.0,NaN,7.0,7.0,7.0,7.0,7.0,NaN,2.0,amessinese@berkeley.edu
2,2,1.0,3.0,7.0,7.0,7.0,7.0,7.0,7.0,7.0,...,7.0,NaN,7.0,7.0,7.0,7.0,7.0,NaN,1.0,joannaveres@berkeley.edu
3,3,1.0,4.0,6.0,6.0,6.0,6.0,5.0,6.0,6.0,...,7.0,NaN,7.0,7.0,7.0,7.0,7.0,NaN,2.0,maximillian_dean@berkeley.edu
4,4,1.0,5.0,6.0,6.0,7.0,6.0,6.0,7.0,7.0,...,7.0,NaN,7.0,7.0,7.0,7.0,7.0,NaN,2.0,tristan_bourgade@berkeley.edu
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
98,98,20.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,phil.xie@berkeley.edu
99,99,20.0,2.0,7.0,6.0,6.0,5.0,3.0,5.0,5.0,...,7.0,NaN,7.0,6.0,6.0,6.0,6.0,NaN,1.0,abfalk@berkeley.edu
100,100,20.0,3.0,6.0,6.0,6.0,6.0,6.0,6.0,6.0,...,6.0,NaN,6.0,6.0,6.0,6.0,6.0,NaN,1.0,ejaswal17@berkeley.edu
101,101,20.0,4.0,7.0,7.0,7.0,7.0,7.0,7.0,7.0,...,7.0,NaN,7.0,7.0,7.0,7.0,7.0,NaN,1.0,valeria_jimenez22@berkeley.edu
102,102,20.0,5.0,7.0,7.0,7.0,6.0,6.0,6.0,7.0,...,7.0,NaN,7.0,7.0,7.0,7.0,7.0,NaN,1.0,andwhysen@berkeley.edu

In [102]:
numerical_data = numerical_data.drop('index', axis=1)

In [103]:
#Functions 

def calculate_team_averages(df):
    # Creates a DataFrame with the averages per team for each question
    return df.groupby("TeamNumber").agg(np.nanmean)[numerical_questions]

def get_team_data(team_number):
    # Returns new dataframe containing only TEAM_NUMBER's data
    return numerical_data[numerical_data['TeamNumber'] == team_number]

def get_team_average(team_number, question):
    # Gets TEAM_NUMBER's average on the specified question
    temp_df = get_team_data(team_number)
    return np.nanmean(temp_df[question])

def get_team_std(team_number, teammate_number, question):
    # Gets TEAM_NUMBER's standard deviation on the specified question and should not include self
    temp_df = get_team_data(team_number)
    temp_df = temp_df[temp_df['TeammateNumber'] != teammate_number]
    
    return np.nanstd(temp_df[question])

def get_teammates_average(team_number, teammate_number, question):
    # Gets TEAM_NUMBER's average on the specified question
    # omits data from current student given by TEAMMATE_NUMBER 
    temp_df = get_team_data(team_number)
    
    temp_df = temp_df[temp_df['TeammateNumber'] != teammate_number]
    
    return np.nanmean(temp_df[question])


def get_student_answer(team_number, teammate_number, question):
    # Returns the current student's response for the specified question
    temp_df = get_team_data(team_number)
    
    temp_df = temp_df[temp_df['TeammateNumber'] == teammate_number]
    
    return float(temp_df[question])
    #return temp_df[question]

def get_class_average(question):
    # Returns the class average for QUESTION
    return np.mean(numerical_data[question])

def get_class_stdv(question):
    # Returns the class std dev for QUESTION
    return np.std(numerical_data[question])

## Part 1: Identification Information

In [104]:
#roster = roster.rename({"FullName": "Full Name"}, axis=1)

In [105]:
roster["FullName"] = roster["FirstName"] + ' ' + roster["LastName"]

In [106]:
analysis_v2 = roster[["FullName", "Email", "TeamNumber", "TeammateNumber"]]

In [107]:
analysis_v2 = analysis_v2.sort_values(["TeamNumber", "TeammateNumber"], ascending=True).reset_index(drop=True)

In [108]:
analysis_v2.to_csv('test.csv')

## Part 2: Skills Assessment

In [109]:
...

Ellipsis

## Part 3: Survey Questionnairre

In [110]:
question_shorthand = {}
question_shorthand[2.1] = ['SharedGoalTeamAvg', 'SharedGoalClassAvg', 'SharedGoalClassStDev']
question_shorthand[2.2] = ['IndvGoalTeamAvg', 'IndvGoalClassAvg', 'IndvGoalClassStDev']
question_shorthand[2.3] = ['SupportTeamAvg', 'SupportClassAvg', 'SupportClassStDev']
question_shorthand[3.0] = ['Goal1', 'Goal2', 'Goal3', 'Goal4', 'Goal5', 'Goal6']
question_shorthand[3.5] = ['NewGoal1', 'NewGoal2', 'NewGoal3', 'NewGoal4', 'NewGoal5', 'NewGoal6']
question_shorthand[4.1] = ['CommunicateTeamAvg', 'CommunicateClassAvg', 'CommunicateClassStDev']
question_shorthand[4.2] = ['WorkAllocTeamAvg', 'WorkAllocClassAvg', 'WorkAllocClassStDev']
question_shorthand[4.3] = ['RoleTeamAvg', 'RoleClassAvg', 'RoleClassStDev']
question_shorthand[4.4] = ['EnjoyTeamAvg', 'EnjoyClassAvg', 'EnjoyClassStDev']
question_shorthand[4.5] = ['ConflictResTeamAvg', 'ConflictResClassAvg', 'ConflictResClassStDev']
question_shorthand[4.6] = ['EfficiencyTeamAvg', 'EfficiencyClassAvg', 'EfficiencyClassStDev']
question_shorthand[4.7] = ['ExpressionTeamAvg', 'ExpressionClassAvg', 'ExpressionClassStDev']

question_shorthand[5.0] = ['MyPoints', 'TeammateAvgPoints', 'ExpectedPoints', 'Percent', 'AveragePointsAllocated', 'StDevPointsAllocated']
question_shorthand[5.1] = 'Work Contribution Teammate 1'
question_shorthand[5.2] = 'Work Contribution Teammate 2'
question_shorthand[5.3] = 'Work Contribution Teammate 3'
question_shorthand[5.4] = 'Work Contribution Teammate 4'
question_shorthand[5.5] = 'Work Contribution Teammate 5'
question_shorthand[5.6] = 'Work Contribution Teammate 6' #might need to increase this based on team size
question_shorthand[6.0] = ['DidWellMe','DidWell1','DidWell2','DidWell3','DidWell4', 'DidWell5','DidWell6' ]
question_shorthand[7] = ['DoDiffMe', 'DoDiff1', 'DoDiff2', 'DoDiff3', 'DoDiff4','DoDiff5', 'DoDiff6']
#question_shorthand[9.1] = 'ImproveAmt1'
#question_shorthand[9.2] = 'ImproveAmt2'
#question_shorthand[9.3] = 'ImproveAmt3'
#question_shorthand[10.1] = ["AskFeedbackClassAvg", "AskFeedbackClassStDev"]
#question_shorthand[10.2] = ["AskHelpClassAvg", "AskHelpClassStDev"]
#question_shorthand[10.3] = ["ValueContrClassAvg", "ValueContrClassStdev"]
#question_shorthand[10.4] = ["ReflectClassAvg", "ReflectClassStDev"]
#questions 11-13 are just imported as questions themselves as columns
question_shorthand[14] = ["ContributeMe", "Contribute1", "Contribute2", "Contribute3", "Contribute4", "Contribute5", "Contribute6"]
question_shorthand[15] = ['ImproveMe', 'Improve1', 'Improve2', 'Improve3', 'Improve4', 'Improve5', 'Improve6']
question_shorthand[16] = ['InitiativeMe', 'InitiativeTeammateAvg', 'InitiativeClassAvg', 'InitiativeClassStDev']
question_shorthand[17] = ['CommunicateMe', 'CommunicateTeammateAvg', 'Communicate2ClassAvg', 'Communicate2ClassStDev']
question_shorthand[18] = ['ExpertiseMe', 'ExpertiseTeammateAvg', 'ExpertiseClassAvg', 'ExpertiseClassStDev']
question_shorthand[19] = ['RespectMe', 'RespectTeammateAvg', 'RespectClassAvg', 'RespectClassStDev']
#question_shorthand[38.1] = 'ImproveAmt1'
#question_shorthand[38.2] = 'ImproveAmt2'
#question_shorthand[38.3] = 'ImproveAmt3'

### 2.1

In [111]:
#Question 2.1

question_2_1 = dictionary[dictionary["question_id"] == 2.1].reset_index()["question"][0]
analysis_v2[question_2_1] = numerical_data["2.1"]

In [112]:
#Question 2.1 team average
question_2_1_0 = question_shorthand[2.1][0]
lst_responses = []
for student_team_number in analysis_v2["TeamNumber"]:
    #team_size = max(analysis_v2[analysis_v2["TeamNumber"] == team]["TeammateNumber"])
    lst_responses.append(round(get_team_average(student_team_number, "2.1"), 1))

analysis_v2[question_2_1_0] = lst_responses

In [113]:
analysis_v2

,FullName,Email,TeamNumber,TeammateNumber,Our team is clear about the shared goals for our work together,SharedGoalTeamAvg
0,Nikolai Seva,nikolai_seva@berkeley.edu,1,1,7.0,6.4
1,Allegra Messinese,amessinese@berkeley.edu,1,2,6.0,6.4
2,Jo Veres,joannaveres@berkeley.edu,1,3,7.0,6.4
3,Maximillian Dean,maximillian_dean@berkeley.edu,1,4,6.0,6.4
4,Tristan Bourgade,tristan_bourgade@berkeley.edu,1,5,6.0,6.4
...,...,...,...,...,...,...
98,Phil Xie,phil.xie@berkeley.edu,20,1,NaN,6.8
99,Abigail Falk,abfalk@berkeley.edu,20,2,7.0,6.8
100,Ekta Jaswal,ejaswal17@berkeley.edu,20,3,6.0,6.8
101,Valeria Jimenez Beltran,valeria_jimenez22@berkeley.edu,20,4,7.0,6.8
102,Andersen Teoh,andwhysen@berkeley.edu,20,5,7.0,6.8

In [114]:
#Question 2.1 class avg
question_2_1_1 = question_shorthand[2.1][1]

analysis_v2[question_2_1_1] = round(get_class_average("2.1"), 1)

In [115]:


#Question 2.1 class std
question_2_1_2 = question_shorthand[2.1][2]

analysis_v2[question_2_1_2] = round(get_class_stdv("2.1"), 1)

In [116]:
#analysis_v2.iloc[97]

### 2.2

In [117]:
#Question 2.2

question_2_2 = dictionary[dictionary["question_id"] == 2.2].reset_index()["question"][0]
analysis_v2[question_2_2] = numerical_data["2.2"]

In [118]:
#Question 2.2 team average
question_2_2_0 = question_shorthand[2.2][0]
lst_responses = []
for student_team_number in analysis_v2["TeamNumber"]:
    #team_size = max(analysis_v2[analysis_v2["TeamNumber"] == team]["TeammateNumber"])
    lst_responses.append(round(get_team_average(student_team_number, "2.2"), 1))

analysis_v2[question_2_2_0] = lst_responses

In [119]:
#Question 2.2 class avg
question_2_2_1 = question_shorthand[2.2][1]

analysis_v2[question_2_2_1] = round(get_class_average("2.2"), 1)

In [120]:
#Question 2.2 class std
question_2_2_2 = question_shorthand[2.2][2]

analysis_v2[question_2_2_2] = round(get_class_stdv("2.2"), 1)

In [121]:
analysis_v2

,FullName,Email,TeamNumber,TeammateNumber,Our team is clear about the shared goals for our work together,SharedGoalTeamAvg,SharedGoalClassAvg,SharedGoalClassStDev,We each know about one another's individual goals for our work together,IndvGoalTeamAvg,IndvGoalClassAvg,IndvGoalClassStDev
0,Nikolai Seva,nikolai_seva@berkeley.edu,1,1,7.0,6.4,6.4,0.8,7.0,6.6,6.3,0.9
1,Allegra Messinese,amessinese@berkeley.edu,1,2,6.0,6.4,6.4,0.8,7.0,6.6,6.3,0.9
2,Jo Veres,joannaveres@berkeley.edu,1,3,7.0,6.4,6.4,0.8,7.0,6.6,6.3,0.9
3,Maximillian Dean,maximillian_dean@berkeley.edu,1,4,6.0,6.4,6.4,0.8,6.0,6.6,6.3,0.9
4,Tristan Bourgade,tristan_bourgade@berkeley.edu,1,5,6.0,6.4,6.4,0.8,6.0,6.6,6.3,0.9
...,...,...,...,...,...,...,...,...,...,...,...,...
98,Phil Xie,phil.xie@berkeley.edu,20,1,NaN,6.8,6.4,0.8,NaN,6.5,6.3,0.9
99,Abigail Falk,abfalk@berkeley.edu,20,2,7.0,6.8,6.4,0.8,6.0,6.5,6.3,0.9
100,Ekta Jaswal,ejaswal17@berkeley.edu,20,3,6.0,6.8,6.4,0.8,6.0,6.5,6.3,0.9
101,Valeria Jimenez Beltran,valeria_jimenez22@berkeley.edu,20,4,7.0,6.8,6.4,0.8,7.0,6.5,6.3,0.9
102,Andersen Teoh,andwhysen@berkeley.edu,20,5,7.0,6.8,6.4,0.8,7.0,6.5,6.3,0.9

### 2.3

In [122]:
#Question 2.3

question_2_3 = dictionary[dictionary["question_id"] == 2.3].reset_index()["question"][0]
analysis_v2[question_2_3] = numerical_data["2.3"]

In [123]:
#Question 2.3 team average
question_2_3_0 = question_shorthand[2.3][0]
lst_responses = []
for student_team_number in analysis_v2["TeamNumber"]:
    #team_size = max(analysis_v2[analysis_v2["TeamNumber"] == team]["TeammateNumber"])
    lst_responses.append(round(get_team_average(student_team_number, "2.3"), 1))

analysis_v2[question_2_3_0] = lst_responses

In [124]:
#Question 2.3 class avg
question_2_3_1 = question_shorthand[2.3][1]

analysis_v2[question_2_3_1] = round(get_class_average("2.3"), 1)

In [125]:
#Question 2.3 class std
question_2_3_2 = question_shorthand[2.3][2]

analysis_v2[question_2_3_2] = round(get_class_stdv("2.3"), 1)

### 3

In [126]:
question_3 = dictionary[dictionary["question_id"] == 3.0].reset_index()["question"][0]

In [127]:
analysis_v2[question_3] = full_cleaned_data["3"]

In [128]:
#goal 1
lst_responses = []
for student_email in analysis_v2["Email"]:
    #team_size = max(analysis_v2[analysis_v2["TeamNumber"] == team]["TeammateNumber"])
    student_team_number = analysis_v2[analysis_v2["Email"] == student_email].reset_index()["TeamNumber"][0]
    student_teammate_number = analysis_v2[analysis_v2["Email"] == student_email].reset_index()["TeammateNumber"][0]
    team_df = full_cleaned_data[full_cleaned_data["TeamNumber"] == student_team_number]
    df_question_at_hand = team_df[team_df["TeammateNumber"] == 1].reset_index()["3"]
    if len(df_question_at_hand) == 0:
        lst_responses.append(np.nan)
    else:
        lst_responses.append(df_question_at_hand[0])
    
question_3_1 = question_shorthand[3.0][0]
analysis_v2[question_3_1] = lst_responses

In [129]:
#goal 2
lst_responses = []
for student_email in analysis_v2["Email"]:
    #team_size = max(analysis_v2[analysis_v2["TeamNumber"] == team]["TeammateNumber"])
    student_team_number = analysis_v2[analysis_v2["Email"] == student_email].reset_index()["TeamNumber"][0]
    student_teammate_number = analysis_v2[analysis_v2["Email"] == student_email].reset_index()["TeammateNumber"][0]
    team_df = full_cleaned_data[full_cleaned_data["TeamNumber"] == student_team_number]
    df_question_at_hand = team_df[team_df["TeammateNumber"] == 2].reset_index()["3"]
    if len(df_question_at_hand) == 0:
        lst_responses.append(np.nan)
    else:
        lst_responses.append(df_question_at_hand[0])
    
question_3_2 = question_shorthand[3.0][1]
analysis_v2[question_3_2] = lst_responses

In [130]:
#goal 3
lst_responses = []
for student_email in analysis_v2["Email"]:
    #team_size = max(analysis_v2[analysis_v2["TeamNumber"] == team]["TeammateNumber"])
    student_team_number = analysis_v2[analysis_v2["Email"] == student_email].reset_index()["TeamNumber"][0]
    student_teammate_number = analysis_v2[analysis_v2["Email"] == student_email].reset_index()["TeammateNumber"][0]
    team_df = full_cleaned_data[full_cleaned_data["TeamNumber"] == student_team_number]
    df_question_at_hand = team_df[team_df["TeammateNumber"] == 3].reset_index()["3"]
    if len(df_question_at_hand) == 0:
        lst_responses.append(np.nan)
    else:
        lst_responses.append(df_question_at_hand[0])
    
question_3_3 = question_shorthand[3.0][2]
analysis_v2[question_3_3] = lst_responses

In [131]:
#goal 4
lst_responses = []
for student_email in analysis_v2["Email"]:
    #team_size = max(analysis_v2[analysis_v2["TeamNumber"] == team]["TeammateNumber"])
    student_team_number = analysis_v2[analysis_v2["Email"] == student_email].reset_index()["TeamNumber"][0]
    student_teammate_number = analysis_v2[analysis_v2["Email"] == student_email].reset_index()["TeammateNumber"][0]
    team_df = full_cleaned_data[full_cleaned_data["TeamNumber"] == student_team_number]
    df_question_at_hand = team_df[team_df["TeammateNumber"] == 4].reset_index()["3"]
    if len(df_question_at_hand) == 0:
        lst_responses.append(np.nan)
    else:
        lst_responses.append(df_question_at_hand[0])
    
question_3_4 = question_shorthand[3.0][3]
analysis_v2[question_3_4] = lst_responses

In [132]:
#goal 5
lst_responses = []
for student_email in analysis_v2["Email"]:
    #team_size = max(analysis_v2[analysis_v2["TeamNumber"] == team]["TeammateNumber"])
    student_team_number = analysis_v2[analysis_v2["Email"] == student_email].reset_index()["TeamNumber"][0]
    student_teammate_number = analysis_v2[analysis_v2["Email"] == student_email].reset_index()["TeammateNumber"][0]
    team_df = full_cleaned_data[full_cleaned_data["TeamNumber"] == student_team_number]
    df_question_at_hand = team_df[team_df["TeammateNumber"] == 5].reset_index()["3"]
    if len(df_question_at_hand) == 0:
        lst_responses.append(np.nan)
    else:
        lst_responses.append(df_question_at_hand[0])
    
question_3_5 = question_shorthand[3.0][4]
analysis_v2[question_3_5] = lst_responses

In [133]:
#goal 6
lst_responses = []
for student_email in analysis_v2["Email"]:
    #team_size = max(analysis_v2[analysis_v2["TeamNumber"] == team]["TeammateNumber"])
    student_team_number = analysis_v2[analysis_v2["Email"] == student_email].reset_index()["TeamNumber"][0]
    student_teammate_number = analysis_v2[analysis_v2["Email"] == student_email].reset_index()["TeammateNumber"][0]
    team_df = full_cleaned_data[full_cleaned_data["TeamNumber"] == student_team_number]
    df_question_at_hand = team_df[team_df["TeammateNumber"] == 6].reset_index()["3"]
    if len(df_question_at_hand) == 0:
        lst_responses.append(np.nan)
    else:
        lst_responses.append(df_question_at_hand[0])
    
question_3_6 = question_shorthand[3.0][5]
analysis_v2[question_3_6] = lst_responses

In [134]:
#no adjusted goals

### 4.1

In [135]:
#Question 4.1

question_4_1 = dictionary[dictionary["question_id"] == 4.1].reset_index()["question"][0]
analysis_v2[question_4_1] = numerical_data["4.1"]

In [136]:
#analysis_v2

In [137]:
#Question 4.1 team average
question_4_1_0 = question_shorthand[4.1][0]
lst_responses = []
for student_team_number in analysis_v2["TeamNumber"]:
    #team_size = max(analysis_v2[analysis_v2["TeamNumber"] == team]["TeammateNumber"])
    lst_responses.append(round(get_team_average(student_team_number, "4.1"), 1))

analysis_v2[question_4_1_0] = lst_responses

In [138]:
#analysis_v2

In [139]:
#Question 4.1 class avg
question_4_1_1 = question_shorthand[4.1][1]

analysis_v2[question_4_1_1] = round(get_class_average("4.1"), 1)

In [140]:
#Question 4.1 class std
question_4_1_2 = question_shorthand[4.1][2]

analysis_v2[question_4_1_2] = round(get_class_stdv("4.1"), 1)

### 4.2

In [141]:
#Question 4.2

question_4_2 = dictionary[dictionary["question_id"] == 4.2].reset_index()["question"][0]
analysis_v2[question_4_2] = numerical_data["4.2"]

In [142]:
#Question 4.2 team average
question_4_2_0 = question_shorthand[4.2][0]
lst_responses = []
for student_team_number in analysis_v2["TeamNumber"]:
    #team_size = max(analysis_v2[analysis_v2["TeamNumber"] == team]["TeammateNumber"])
    lst_responses.append(round(get_team_average(student_team_number, "4.2"), 1))

analysis_v2[question_4_2_0] = lst_responses

In [143]:
#Question 4.2 class avg
question_4_2_1 = question_shorthand[4.2][1]

analysis_v2[question_4_2_1] = round(get_class_average("4.2"), 1)

In [144]:
#Question 4.2 class std
question_4_2_2 = question_shorthand[4.2][2]

analysis_v2[question_4_2_2] = round(get_class_stdv("4.2"), 1)

### 4.3

In [145]:
#Question 4.3

question_4_3 = dictionary[dictionary["question_id"] == 4.3].reset_index()["question"][0]
analysis_v2[question_4_3] = numerical_data["4.3"]

In [146]:
#Question 4.1 team average
question_4_3_0 = question_shorthand[4.3][0]
lst_responses = []
for student_team_number in analysis_v2["TeamNumber"]:
    #team_size = max(analysis_v2[analysis_v2["TeamNumber"] == team]["TeammateNumber"])
    lst_responses.append(round(get_team_average(student_team_number, "4.3"), 1))

analysis_v2[question_4_3_0] = lst_responses

In [147]:
#Question 4.3 class avg
question_4_3_1 = question_shorthand[4.3][1]

analysis_v2[question_4_3_1] = round(get_class_average("4.3"), 1)

In [148]:
#Question 4.3 class std
question_4_3_2 = question_shorthand[4.3][2]

analysis_v2[question_4_3_2] = round(get_class_stdv("4.3"), 1)

### 4.4

In [149]:
#Question 4.4

question_4_4 = dictionary[dictionary["question_id"] == 4.4].reset_index()["question"][0]
analysis_v2[question_4_4] = numerical_data["4.4"]

In [150]:
#Question 4.4 team average
question_4_4_0 = question_shorthand[4.4][0]
lst_responses = []
for student_team_number in analysis_v2["TeamNumber"]:
    #team_size = max(analysis_v2[analysis_v2["TeamNumber"] == team]["TeammateNumber"])
    lst_responses.append(round(get_team_average(student_team_number, "4.4"), 1))

analysis_v2[question_4_4_0] = lst_responses

In [151]:
#Question 4.4 class avg
question_4_4_1 = question_shorthand[4.4][1]

analysis_v2[question_4_4_1] = round(get_class_average("4.4"), 1)

In [152]:
#Question 4.4 class std
question_4_4_2 = question_shorthand[4.4][2]

analysis_v2[question_4_4_2] = round(get_class_stdv("4.4"), 1)

### 4.5

In [153]:
#Question 4.5

question_4_5 = dictionary[dictionary["question_id"] == 4.5].reset_index()["question"][0]
analysis_v2[question_4_5] = numerical_data["4.5"]

In [154]:
#Question 4.5 team average
question_4_5_0 = question_shorthand[4.5][0]
lst_responses = []
for student_team_number in analysis_v2["TeamNumber"]:
    #team_size = max(analysis_v2[analysis_v2["TeamNumber"] == team]["TeammateNumber"])
    lst_responses.append(round(get_team_average(student_team_number, "4.5"), 1))

analysis_v2[question_4_5_0] = lst_responses

In [155]:
#Question 4.5 class avg
question_4_5_1 = question_shorthand[4.5][1]

analysis_v2[question_4_5_1] = round(get_class_average("4.5"), 1)

In [156]:
#Question 4.5 class std
question_4_5_2 = question_shorthand[4.5][2]

analysis_v2[question_4_5_2] = round(get_class_stdv("4.5"), 1)

### 4.6

In [157]:
#Question 4.6

question_4_6 = dictionary[dictionary["question_id"] == 4.6].reset_index()["question"][0]
analysis_v2[question_4_6] = numerical_data["4.6"]

#Question 4.6 team average
question_4_6_0 = question_shorthand[4.6][0]
lst_responses = []
for student_team_number in analysis_v2["TeamNumber"]:
    #team_size = max(analysis_v2[analysis_v2["TeamNumber"] == team]["TeammateNumber"])
    lst_responses.append(round(get_team_average(student_team_number, "4.6"), 1))

analysis_v2[question_4_6_0] = lst_responses

#Question 4.6 class avg
question_4_6_1 = question_shorthand[4.6][1]

analysis_v2[question_4_6_1] = round(get_class_average("4.6"), 1)

#Question 4.6 class std
question_4_6_2 = question_shorthand[4.6][2]

analysis_v2[question_4_6_2] = round(get_class_stdv("4.6"), 1)

### 4.7

In [158]:
#Question 4.7

question_4_7 = dictionary[dictionary["question_id"] == 4.7].reset_index()["question"][0]
analysis_v2[question_4_7] = numerical_data["4.7"]

#Question 4.7 team average
question_4_7_0 = question_shorthand[4.7][0]
lst_responses = []
for student_team_number in analysis_v2["TeamNumber"]:
    #team_size = max(analysis_v2[analysis_v2["TeamNumber"] == team]["TeammateNumber"])
    lst_responses.append(round(get_team_average(student_team_number, "4.7"), 1))

analysis_v2[question_4_7_0] = lst_responses

#Question 4.7 class avg
question_4_7_1 = question_shorthand[4.7][1]

analysis_v2[question_4_7_1] = round(get_class_average("4.7"), 1)

#Question 4.7 class std
question_4_7_2 = question_shorthand[4.7][2]

analysis_v2[question_4_7_2] = round(get_class_stdv("4.7"), 1)

### 5

In [159]:
#Question 5.1-5.6. will need to change this according to how many people are on a team
question_5_1 = dictionary[dictionary["question_id"] == 5.1].reset_index()["question"][0]
question_5_2 = dictionary[dictionary["question_id"] == 5.2].reset_index()["question"][0]
question_5_3 = dictionary[dictionary["question_id"] == 5.3].reset_index()["question"][0]
question_5_4 = dictionary[dictionary["question_id"] == 5.4].reset_index()["question"][0]
question_5_5 = dictionary[dictionary["question_id"] == 5.5].reset_index()["question"][0]
question_5_6 = dictionary[dictionary["question_id"] == 5.6].reset_index()["question"][0]

analysis_v2[question_5_1] = full_cleaned_data[["5.1"]]
analysis_v2[question_5_2] = full_cleaned_data[["5.2"]]
analysis_v2[question_5_3] = full_cleaned_data[["5.3"]]
analysis_v2[question_5_4] = full_cleaned_data[["5.4"]]
analysis_v2[question_5_5] = full_cleaned_data[["5.5"]]
analysis_v2[question_5_6] = full_cleaned_data[["5.6"]]

In [160]:
#Calculations

#MyPoints
lst_responses = []
for student_email in analysis_v2["Email"]:
    #team_size = max(analysis_v2[analysis_v2["TeamNumber"] == team]["TeammateNumber"])
    student_team_number = analysis_v2[analysis_v2["Email"] == student_email].reset_index()["TeamNumber"][0]
    student_teammate_number = analysis_v2[analysis_v2["Email"] == student_email].reset_index()["TeammateNumber"][0]
    team_df = full_cleaned_data[full_cleaned_data["TeamNumber"] == student_team_number]
    student_df = team_df[team_df["TeammateNumber"] == student_teammate_number].reset_index()
    question_needed = '5.' + str(int(student_teammate_number))
    lst_responses.append(student_df[question_needed].reset_index()[question_needed][0])
    
question_5_a = question_shorthand[5][0]
analysis_v2[question_5_a] = lst_responses

In [161]:
analysis_v2

,FullName,Email,TeamNumber,TeammateNumber,Our team is clear about the shared goals for our work together,SharedGoalTeamAvg,SharedGoalClassAvg,SharedGoalClassStDev,We each know about one another's individual goals for our work together,IndvGoalTeamAvg,...,ExpressionTeamAvg,ExpressionClassAvg,ExpressionClassStDev,Please allocate 100 points across yourself and your teammates for your contributions to the work of the team. For teammate 1,Please allocate 100 points across yourself and your teammates for your contributions to the work of the team. For teammate 2,Please allocate 100 points across yourself and your teammates for your contributions to the work of the team. For teammate 3,Please allocate 100 points across yourself and your teammates for your contributions to the work of the team. For teammate 4,Please allocate 100 points across yourself and your teammates for your contributions to the work of the team. For teammate 5,Please allocate 100 points across yourself and your teammates for your contributions to the work of the team. For teammate 6,MyPoints
0,Nikolai Seva,nikolai_seva@berkeley.edu,1,1,7.0,6.4,6.4,0.8,7.0,6.6,...,6.8,6.6,0.8,20,20,20,20,20,0,20
1,Allegra Messinese,amessinese@berkeley.edu,1,2,6.0,6.4,6.4,0.8,7.0,6.6,...,6.8,6.6,0.8,14,20,23,20,23,0,20
2,Jo Veres,joannaveres@berkeley.edu,1,3,7.0,6.4,6.4,0.8,7.0,6.6,...,6.8,6.6,0.8,20,20,20,20,20,0,20
3,Maximillian Dean,maximillian_dean@berkeley.edu,1,4,6.0,6.4,6.4,0.8,6.0,6.6,...,6.8,6.6,0.8,16,19,23,19,23,0,19
4,Tristan Bourgade,tristan_bourgade@berkeley.edu,1,5,6.0,6.4,6.4,0.8,6.0,6.6,...,6.8,6.6,0.8,19,19,22,19,21,0,21
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
98,Phil Xie,phil.xie@berkeley.edu,20,1,NaN,6.8,6.4,0.8,NaN,6.5,...,6.2,6.6,0.8,No Response,No Response,No Response,No Response,No Response,No Response,No Response
99,Abigail Falk,abfalk@berkeley.edu,20,2,7.0,6.8,6.4,0.8,6.0,6.5,...,6.2,6.6,0.8,20,23,18,17,22,0,23
100,Ekta Jaswal,ejaswal17@berkeley.edu,20,3,6.0,6.8,6.4,0.8,6.0,6.5,...,6.2,6.6,0.8,20,20,20,20,20,0,20
101,Valeria Jimenez Beltran,valeria_jimenez22@berkeley.edu,20,4,7.0,6.8,6.4,0.8,7.0,6.5,...,6.2,6.6,0.8,24,21,12,23,20,0,23
102,Andersen Teoh,andwhysen@berkeley.edu,20,5,7.0,6.8,6.4,0.8,7.0,6.5,...,6.2,6.6,0.8,25,25,16,19,15,0,15

In [162]:
#TeammateAvgPoints
lst_responses = []
for student_email in analysis_v2["Email"]:
    #team_size = max(analysis_v2[analysis_v2["TeamNumber"] == team]["TeammateNumber"])
    student_team_number = analysis_v2[analysis_v2["Email"] == student_email].reset_index()["TeamNumber"][0]
    student_teammate_number = analysis_v2[analysis_v2["Email"] == student_email].reset_index()["TeammateNumber"][0]
    question_needed = '5.' + str(int(student_teammate_number))
    lst_responses.append(round(get_teammates_average(student_team_number, student_teammate_number, question_needed), 1))

question_5_b = question_shorthand[5][1]
analysis_v2[question_5_b] = lst_responses

In [163]:
#ExpectedPoints
lst_responses = []
for student_team_number in analysis_v2["TeamNumber"]:
    team_size = max(analysis_v2[analysis_v2["TeamNumber"] == student_team_number]["TeammateNumber"])
    lst_responses.append(round(100/team_size, 1))

question_5_c = question_shorthand[5][2]
analysis_v2[question_5_c] = lst_responses

In [164]:
#Percent
question_5_d = question_shorthand[5][3]
analysis_v2[question_5_d] = round((analysis_v2[question_5_b] / analysis_v2[question_5_c]) * 100, 1)

In [165]:
#AveragePointsAllocated
lst_responses = []
for student_email in analysis_v2["Email"]:
    student_team_number = analysis_v2[analysis_v2["Email"] == student_email].reset_index()["TeamNumber"][0]
    team_size = max(analysis_v2[analysis_v2["TeamNumber"] == student_team_number]["TeammateNumber"])
    student_teammate_number = analysis_v2[analysis_v2["Email"] == student_email].reset_index()["TeammateNumber"][0]
    
    temp_q5_df = full_cleaned_data[full_cleaned_data["TeamNumber"] == student_team_number][["5.1", "5.2", "5.3", "5.4", "5.5", "5.6"]]
    temp_q5_df = temp_q5_df.replace({"No Response" : np.nan}).astype(float)
    sum_points = sum(temp_q5_df.reset_index().drop("index", axis=1).iloc[int(student_teammate_number) - 1])
    lst_responses.append(round(sum_points/team_size, 1))

question_5_e = question_shorthand[5][4]
analysis_v2[question_5_e] = lst_responses

In [166]:
#StDevPointsAllocated
lst_responses = []
for student_email in analysis_v2["Email"]:
    student_team_number = analysis_v2[analysis_v2["Email"] == student_email].reset_index()["TeamNumber"][0]
    team_size = max(analysis_v2[analysis_v2["TeamNumber"] == student_team_number]["TeammateNumber"])
    student_teammate_number = analysis_v2[analysis_v2["Email"] == student_email].reset_index()["TeammateNumber"][0]
    
    temp_q5_df = full_cleaned_data[full_cleaned_data["TeamNumber"] == student_team_number][["5.1", "5.2", "5.3", "5.4", "5.5", "5.6"]]
    temp_q5_df = temp_q5_df.replace({"No Response" : np.nan}).astype(float)
    arr = temp_q5_df.reset_index().drop("index", axis=1).dropna().to_numpy().flatten()
    std = np.std(arr[arr != 0])
    lst_responses.append(round(std, 1))

question_5_f = question_shorthand[5][5]
analysis_v2[question_5_f] = lst_responses

In [167]:
analysis_v2

,FullName,Email,TeamNumber,TeammateNumber,Our team is clear about the shared goals for our work together,SharedGoalTeamAvg,SharedGoalClassAvg,SharedGoalClassStDev,We each know about one another's individual goals for our work together,IndvGoalTeamAvg,...,Please allocate 100 points across yourself and your teammates for your contributions to the work of the team. For teammate 3,Please allocate 100 points across yourself and your teammates for your contributions to the work of the team. For teammate 4,Please allocate 100 points across yourself and your teammates for your contributions to the work of the team. For teammate 5,Please allocate 100 points across yourself and your teammates for your contributions to the work of the team. For teammate 6,MyPoints,TeammateAvgPoints,ExpectedPoints,Percent,AveragePointsAllocated,StDevPointsAllocated
0,Nikolai Seva,nikolai_seva@berkeley.edu,1,1,7.0,6.4,6.4,0.8,7.0,6.6,...,20,20,20,0,20,17.2,20.0,86.0,20.0,2.0
1,Allegra Messinese,amessinese@berkeley.edu,1,2,6.0,6.4,6.4,0.8,7.0,6.6,...,23,20,23,0,20,19.5,20.0,97.5,20.0,2.0
2,Jo Veres,joannaveres@berkeley.edu,1,3,7.0,6.4,6.4,0.8,7.0,6.6,...,20,20,20,0,20,22.0,20.0,110.0,20.0,2.0
3,Maximillian Dean,maximillian_dean@berkeley.edu,1,4,6.0,6.4,6.4,0.8,6.0,6.6,...,23,19,23,0,19,19.8,20.0,99.0,20.0,2.0
4,Tristan Bourgade,tristan_bourgade@berkeley.edu,1,5,6.0,6.4,6.4,0.8,6.0,6.6,...,22,19,21,0,21,21.5,20.0,107.5,20.0,2.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
98,Phil Xie,phil.xie@berkeley.edu,20,1,NaN,6.8,6.4,0.8,NaN,6.5,...,No Response,No Response,No Response,No Response,No Response,22.2,20.0,111.0,NaN,3.2
99,Abigail Falk,abfalk@berkeley.edu,20,2,7.0,6.8,6.4,0.8,6.0,6.5,...,18,17,22,0,23,22.0,20.0,110.0,20.0,3.2
100,Ekta Jaswal,ejaswal17@berkeley.edu,20,3,6.0,6.8,6.4,0.8,6.0,6.5,...,20,20,20,0,20,15.3,20.0,76.5,20.0,3.2
101,Valeria Jimenez Beltran,valeria_jimenez22@berkeley.edu,20,4,7.0,6.8,6.4,0.8,7.0,6.5,...,12,23,20,0,23,18.7,20.0,93.5,20.0,3.2
102,Andersen Teoh,andwhysen@berkeley.edu,20,5,7.0,6.8,6.4,0.8,7.0,6.5,...,16,19,15,0,15,20.7,20.0,103.5,20.0,3.2

### 6

In [168]:
#Didwellme 

lst_responses = []
for student_email in analysis_v2["Email"]:
    student_team_number = analysis_v2[analysis_v2["Email"] == student_email].reset_index()["TeamNumber"][0]
    #team_size = max(analysis_v2[analysis_v2["TeamNumber"] == student_team_number]["TeammateNumber"])
    student_teammate_number = analysis_v2[analysis_v2["Email"] == student_email].reset_index()["TeammateNumber"][0]
    temp_q6_df = full_cleaned_data[full_cleaned_data["TeamNumber"] == student_team_number]
    response = temp_q6_df[temp_q6_df["TeammateNumber"] == student_teammate_number].reset_index()["6"][0]
    lst_responses.append(response)

question_6_a = question_shorthand[6][0]
analysis_v2[question_6_a] = lst_responses

In [169]:
#DidWell1 thru DidWell6

subset_df = analysis_v2[["TeamNumber", "TeammateNumber", "DidWellMe"]]
#subset_df[subset_df["TeammateNumber"] == 1]
#subset_df

lst_responses_1 = []
lst_responses_2 = []
lst_responses_3 = []
lst_responses_4 = []
lst_responses_5 = []
lst_responses_6 = []

for team in subset_df["TeamNumber"]:#.unique():
    team_series = subset_df[subset_df["TeamNumber"] == team].reset_index()["DidWellMe"]
    if len(team_series) == 1:
        lst_responses_1.append(team_series[0])
        lst_responses_2.append(np.nan)
        lst_responses_3.append(np.nan)
        lst_responses_4.append(np.nan)
        lst_responses_5.append(np.nan)
        lst_responses_6.append(np.nan)
    if len(team_series) == 2:
        lst_responses_1.append(team_series[0])
        lst_responses_2.append(team_series[1])
        lst_responses_3.append(np.nan)
        lst_responses_4.append(np.nan)
        lst_responses_5.append(np.nan)
        lst_responses_6.append(np.nan)
    if len(team_series) == 3:
        lst_responses_1.append(team_series[0])
        lst_responses_2.append(team_series[1])
        lst_responses_3.append(team_series[2])
        lst_responses_4.append(np.nan)
        lst_responses_5.append(np.nan)
        lst_responses_6.append(np.nan)
    if len(team_series) == 4:
        lst_responses_1.append(team_series[0])
        lst_responses_2.append(team_series[1])
        lst_responses_3.append(team_series[2])
        lst_responses_4.append(team_series[3])
        lst_responses_5.append(np.nan)
        lst_responses_6.append(np.nan)
    if len(team_series) == 5:
        lst_responses_1.append(team_series[0])
        lst_responses_2.append(team_series[1])
        lst_responses_3.append(team_series[2])
        lst_responses_4.append(team_series[3])
        lst_responses_5.append(team_series[4])
        lst_responses_6.append(np.nan)
    if len(team_series) == 6:
        lst_responses_1.append(team_series[0])
        lst_responses_2.append(team_series[1])
        lst_responses_3.append(team_series[2])
        lst_responses_4.append(team_series[3])
        lst_responses_5.append(team_series[4])
        lst_responses_6.append(team_series[5])

question_6_b = question_shorthand[6][1]
question_6_c = question_shorthand[6][2]
question_6_d = question_shorthand[6][3]
question_6_e = question_shorthand[6][4]
question_6_f = question_shorthand[6][5]
question_6_g = question_shorthand[6][6]
analysis_v2[question_6_b] = lst_responses_1
analysis_v2[question_6_c] = lst_responses_2
analysis_v2[question_6_d] = lst_responses_3
analysis_v2[question_6_e] = lst_responses_4
analysis_v2[question_6_f] = lst_responses_5
analysis_v2[question_6_g] = lst_responses_6

### 7

In [170]:
#DoDiffMe
lst_responses = []
for student_email in analysis_v2["Email"]:
    student_team_number = analysis_v2[analysis_v2["Email"] == student_email].reset_index()["TeamNumber"][0]
    #team_size = max(analysis_v2[analysis_v2["TeamNumber"] == student_team_number]["TeammateNumber"])
    student_teammate_number = analysis_v2[analysis_v2["Email"] == student_email].reset_index()["TeammateNumber"][0]
    temp_q7_df = full_cleaned_data[full_cleaned_data["TeamNumber"] == student_team_number]
    #temp_q7_df = temp_q7_df.replace({"No Response" : np.nan}).astype(float)
    response = temp_q7_df[temp_q7_df["TeammateNumber"] == student_teammate_number].reset_index()["7"][0]
    lst_responses.append(response)

question_7_a = question_shorthand[7][0]
analysis_v2[question_7_a] = lst_responses

In [171]:
#DoDiff1 thru DoDiff6

subset_df = analysis_v2[["TeamNumber", "TeammateNumber", "DoDiffMe"]]
#subset_df[subset_df["TeammateNumber"] == 1]
#subset_df

lst_responses_1 = []
lst_responses_2 = []
lst_responses_3 = []
lst_responses_4 = []
lst_responses_5 = []
lst_responses_6 = []

for team in subset_df["TeamNumber"]:#.unique():
    team_series = subset_df[subset_df["TeamNumber"] == team].reset_index()["DoDiffMe"]
    if len(team_series) == 1:
        lst_responses_1.append(team_series[0])
        lst_responses_2.append(np.nan)
        lst_responses_3.append(np.nan)
        lst_responses_4.append(np.nan)
        lst_responses_5.append(np.nan)
        lst_responses_6.append(np.nan)
    if len(team_series) == 2:
        lst_responses_1.append(team_series[0])
        lst_responses_2.append(team_series[1])
        lst_responses_3.append(np.nan)
        lst_responses_4.append(np.nan)
        lst_responses_5.append(np.nan)
        lst_responses_6.append(np.nan)
    if len(team_series) == 3:
        lst_responses_1.append(team_series[0])
        lst_responses_2.append(team_series[1])
        lst_responses_3.append(team_series[2])
        lst_responses_4.append(np.nan)
        lst_responses_5.append(np.nan)
        lst_responses_6.append(np.nan)
    if len(team_series) == 4:
        lst_responses_1.append(team_series[0])
        lst_responses_2.append(team_series[1])
        lst_responses_3.append(team_series[2])
        lst_responses_4.append(team_series[3])
        lst_responses_5.append(np.nan)
        lst_responses_6.append(np.nan)
    if len(team_series) == 5:
        lst_responses_1.append(team_series[0])
        lst_responses_2.append(team_series[1])
        lst_responses_3.append(team_series[2])
        lst_responses_4.append(team_series[3])
        lst_responses_5.append(team_series[4])
        lst_responses_6.append(np.nan)
    if len(team_series) == 6:
        lst_responses_1.append(team_series[0])
        lst_responses_2.append(team_series[1])
        lst_responses_3.append(team_series[2])
        lst_responses_4.append(team_series[3])
        lst_responses_5.append(team_series[4])
        lst_responses_6.append(team_series[5])
        
question_7_b = question_shorthand[7][1]
question_7_c = question_shorthand[7][2]
question_7_d = question_shorthand[7][3]
question_7_e = question_shorthand[7][4]
question_7_f = question_shorthand[7][5]
question_7_g = question_shorthand[7][6]
analysis_v2[question_7_b] = lst_responses_1
analysis_v2[question_7_c] = lst_responses_2
analysis_v2[question_7_d] = lst_responses_3
analysis_v2[question_7_e] = lst_responses_4
analysis_v2[question_7_f] = lst_responses_5
analysis_v2[question_7_g] = lst_responses_6

### 9

In [172]:
#analysis_v2[question_shorthand[9.1]] = full_cleaned_data["9.1"]
#analysis_v2[question_shorthand[9.2]] = full_cleaned_data["9.2"]
#analysis_v2[question_shorthand[9.3]] = full_cleaned_data["9.3"]

### 10 (not used here but can use functions below)

In [173]:
#analysis_v2[question_shorthand[10.1][0]] = get_class_average("10.1")
#analysis_v2[question_shorthand[10.1][1]] = get_class_stdv("10.1")

#analysis_v2[question_shorthand[10.2][0]] = get_class_average("10.2")
#analysis_v2[question_shorthand[10.2][1]] = get_class_stdv("10.2")

#analysis_v2[question_shorthand[10.3][0]] = get_class_average("10.3")
#analysis_v2[question_shorthand[10.3][1]] = get_class_stdv("10.3")

### 11

In [174]:
#question_11 = dictionary[dictionary["question_id"] == 11].reset_index()["question"][0]
#analysis_v2[question_11] = full_cleaned_data["11"]

### 12

In [175]:
#question_12 = dictionary[dictionary["question_id"] == 12].reset_index()["question"][0]
#analysis_v2[question_12] = full_cleaned_data["12"]

### 14

In [176]:
#14.1 (me)

lst_responses = []

for i in range(len(full_cleaned_data)):
    teammate_number = int(full_cleaned_data.iloc[i]["TeammateNumber"])
    question_needed = '14.' + str(teammate_number)
    lst_responses.append(full_cleaned_data.iloc[i][question_needed])

question_14_me = question_shorthand[14][0]
analysis_v2[question_14_me] = lst_responses

In [177]:
analysis_v2.head()

,FullName,Email,TeamNumber,TeammateNumber,Our team is clear about the shared goals for our work together,SharedGoalTeamAvg,SharedGoalClassAvg,SharedGoalClassStDev,We each know about one another's individual goals for our work together,IndvGoalTeamAvg,...,DidWell5,DidWell6,DoDiffMe,DoDiff1,DoDiff2,DoDiff3,DoDiff4,DoDiff5,DoDiff6,ContributeMe
0,Nikolai Seva,nikolai_seva@berkeley.edu,1,1,7.0,6.4,6.4,0.8,7.0,6.6,...,Our overall enthusiasm for the project was ver...,NaN,Bring in more communication in the group chat ...,Bring in more communication in the group chat ...,I would try to meet more in person,Set out meeting goals before the meeting starts,I would ensure work gets done earlier as somet...,More frequent communication would have been ni...,NaN,Worked on researching competitors of their tot...
1,Allegra Messinese,amessinese@berkeley.edu,1,2,6.0,6.4,6.4,0.8,7.0,6.6,...,Our overall enthusiasm for the project was ver...,NaN,I would try to meet more in person,Bring in more communication in the group chat ...,I would try to meet more in person,Set out meeting goals before the meeting starts,I would ensure work gets done earlier as somet...,More frequent communication would have been ni...,NaN,"Overview of the assignments, and put everythin..."
2,Jo Veres,joannaveres@berkeley.edu,1,3,7.0,6.4,6.4,0.8,7.0,6.6,...,Our overall enthusiasm for the project was ver...,NaN,Set out meeting goals before the meeting starts,Bring in more communication in the group chat ...,I would try to meet more in person,Set out meeting goals before the meeting starts,I would ensure work gets done earlier as somet...,More frequent communication would have been ni...,NaN,"matlab, medical images"
3,Maximillian Dean,maximillian_dean@berkeley.edu,1,4,6.0,6.4,6.4,0.8,6.0,6.6,...,Our overall enthusiasm for the project was ver...,NaN,I would ensure work gets done earlier as somet...,Bring in more communication in the group chat ...,I would try to meet more in person,Set out meeting goals before the meeting starts,I would ensure work gets done earlier as somet...,More frequent communication would have been ni...,NaN,"Made sure the team stayed on track, kept the t..."
4,Tristan Bourgade,tristan_bourgade@berkeley.edu,1,5,6.0,6.4,6.4,0.8,6.0,6.6,...,Our overall enthusiasm for the project was ver...,NaN,More frequent communication would have been ni...,Bring in more communication in the group chat ...,I would try to meet more in person,Set out meeting goals before the meeting starts,I would ensure work gets done earlier as somet...,More frequent communication would have been ni...,NaN,"Worked on fabrication, smoothing of CT data, r..."

In [178]:
#14

question_14_1 = question_shorthand[14][1]
question_14_2 = question_shorthand[14][2]
question_14_3 = question_shorthand[14][3]
question_14_4 = question_shorthand[14][4]
question_14_5 = question_shorthand[14][5]
question_14_6 = question_shorthand[14][6]

feedback_1 = []
feedback_2 = []
feedback_3 = []
feedback_4 = []
feedback_5 = [] 
feedback_6 = []#need to adjust to max team size

#possibilities = ["14.1", "14.2", "14.3", "14.4", "14.5", "14.6"]
for i in range(len(full_cleaned_data)):
    my_teammate_number = int(full_cleaned_data.iloc[i]["TeammateNumber"])
    my_team_number = int(full_cleaned_data.iloc[i]["TeamNumber"])
    my_team_number_str = str(full_cleaned_data.iloc[i]["TeamNumber"])
    my_team_df = full_cleaned_data[full_cleaned_data["TeamNumber"] == my_team_number]
    list_feedback_for_me = list(my_team_df["14." + str(my_teammate_number)])
    num_teammates = len(list_feedback_for_me)
    extra_needed = 6 - num_teammates
    placeholders = [''] * extra_needed
    all_feedback = list_feedback_for_me + placeholders

    feedback_1.append(all_feedback[0])
    feedback_2.append(all_feedback[1])
    feedback_3.append(all_feedback[2])
    feedback_4.append(all_feedback[3])
    feedback_5.append(all_feedback[4])
    feedback_6.append(all_feedback[5])
    
analysis_v2[question_14_1] = feedback_1
analysis_v2[question_14_2] = feedback_2
analysis_v2[question_14_3] = feedback_3
analysis_v2[question_14_4] = feedback_4
analysis_v2[question_14_5] = feedback_5
analysis_v2[question_14_6] = feedback_6

In [179]:
analysis_v2.head()

,FullName,Email,TeamNumber,TeammateNumber,Our team is clear about the shared goals for our work together,SharedGoalTeamAvg,SharedGoalClassAvg,SharedGoalClassStDev,We each know about one another's individual goals for our work together,IndvGoalTeamAvg,...,DoDiff4,DoDiff5,DoDiff6,ContributeMe,Contribute1,Contribute2,Contribute3,Contribute4,Contribute5,Contribute6
0,Nikolai Seva,nikolai_seva@berkeley.edu,1,1,7.0,6.4,6.4,0.8,7.0,6.6,...,I would ensure work gets done earlier as somet...,More frequent communication would have been ni...,NaN,Worked on researching competitors of their tot...,Worked on researching competitors of their tot...,Positive attitude,"interviews, free body diagrams",Positive mindset and quick responses,"Point of contact for Dr. Santos, worked on mar...",
1,Allegra Messinese,amessinese@berkeley.edu,1,2,6.0,6.4,6.4,0.8,7.0,6.6,...,I would ensure work gets done earlier as somet...,More frequent communication would have been ni...,NaN,"Overview of the assignments, and put everythin...",Worked on the market analysis of the total dis...,"Overview of the assignments, and put everythin...","market analysis, product comparison","Amazing vibes, improved Aura, very helpful and...",Helped a lot with anatomy-related knowledge be...,
2,Jo Veres,joannaveres@berkeley.edu,1,3,7.0,6.4,6.4,0.8,7.0,6.6,...,I would ensure work gets done earlier as somet...,More frequent communication would have been ni...,NaN,"matlab, medical images",Worked on the structure of the report and 3D b...,Provided access to MRI images and produced STL...,"matlab, medical images",Amazing coding and matlab and providing all th...,"Worked with extraction of CT scan to STL, wrot...",
3,Maximillian Dean,maximillian_dean@berkeley.edu,1,4,6.0,6.4,6.4,0.8,6.0,6.6,...,I would ensure work gets done earlier as somet...,More frequent communication would have been ni...,NaN,"Made sure the team stayed on track, kept the t...",Worked on the poster and organized the content.,Report fine-tuning,"writing, cad","Made sure the team stayed on track, kept the t...","Worked on poster with me, helped significantly...",
4,Tristan Bourgade,tristan_bourgade@berkeley.edu,1,5,6.0,6.4,6.4,0.8,6.0,6.6,...,I would ensure work gets done earlier as somet...,More frequent communication would have been ni...,NaN,"Worked on fabrication, smoothing of CT data, r...",Worked on 3D printing the implant prototype.,3D printing,"cad, 3d printing, the general GOAT",Great at CAD and good vibes. Very humble,"Worked on fabrication, smoothing of CT data, r...",

### 15

In [183]:
#15.1 (me)

lst_responses = []

for i in range(len(full_cleaned_data)):
    teammate_number = int(full_cleaned_data.iloc[i]["TeammateNumber"])
    question_needed = '39.' + str(teammate_number)
    lst_responses.append(full_cleaned_data.iloc[i][question_needed])

question_15_me = question_shorthand[15][0]
analysis_v2[question_15_me] = lst_responses

In [184]:
#15

question_15_1 = question_shorthand[15][1]
question_15_2 = question_shorthand[15][2]
question_15_3 = question_shorthand[15][3]
question_15_4 = question_shorthand[15][4]
question_15_5 = question_shorthand[15][5]
question_15_6 = question_shorthand[15][6]

feedback_1 = []
feedback_2 = []
feedback_3 = []
feedback_4 = []
feedback_5 = [] 
feedback_6 = []#need to adjust to max team size

#possibilities = ["14.1", "14.2", "14.3", "14.4", "14.5", "14.6"]
for i in range(len(full_cleaned_data)):
    my_teammate_number = int(full_cleaned_data.iloc[i]["TeammateNumber"])
    my_team_number = int(full_cleaned_data.iloc[i]["TeamNumber"])
    my_team_number_str = str(full_cleaned_data.iloc[i]["TeamNumber"])
    my_team_df = full_cleaned_data[full_cleaned_data["TeamNumber"] == my_team_number]
    list_feedback_for_me = list(my_team_df["39." + str(my_teammate_number)])
    num_teammates = len(list_feedback_for_me)
    extra_needed = 6 - num_teammates
    placeholders = [''] * extra_needed
    all_feedback = list_feedback_for_me + placeholders

    feedback_1.append(all_feedback[0])
    feedback_2.append(all_feedback[1])
    feedback_3.append(all_feedback[2])
    feedback_4.append(all_feedback[3])
    feedback_5.append(all_feedback[4])
    feedback_6.append(all_feedback[5])
    
analysis_v2[question_15_1] = feedback_1
analysis_v2[question_15_2] = feedback_2
analysis_v2[question_15_3] = feedback_3
analysis_v2[question_15_4] = feedback_4
analysis_v2[question_15_5] = feedback_5
analysis_v2[question_15_6] = feedback_6

### 16

In [185]:

#16 (me)

lst_responses = []

for i in range(len(full_cleaned_data)):
    teammate_number = int(full_cleaned_data.iloc[i]["TeammateNumber"])
    question_needed = '16.' + str(teammate_number)
    lst_responses.append(full_cleaned_data.iloc[i][question_needed])

question_16_me = question_shorthand[16][0]
analysis_v2[question_16_me] = lst_responses

In [186]:
#Question 16 team average
question_16_tm_avg = question_shorthand[16][1]
lst_responses = []

for i in range(len(full_cleaned_data)):
    teammate_number = int(full_cleaned_data.iloc[i]["TeammateNumber"])
    team_number = int(full_cleaned_data.iloc[i]["TeamNumber"])
    question_needed = '16.' + str(teammate_number)
    lst_responses.append(round(get_teammates_average(team_number, teammate_number, question_needed), 1))

analysis_v2[question_16_tm_avg] = lst_responses

In [187]:
#Question 16 class avg
question_16_class_avg = question_shorthand[16][2]
class_avg = np.nanmean(full_cleaned_data[["16.1", "16.2", "16.3", "16.4", "16.5", "16.6"]].replace({"No Response" : np.nan}).astype(float).to_numpy().flatten())
analysis_v2[question_16_class_avg] = round(class_avg, 1)

In [188]:
#Question 16 class std
question_16_class_std = question_shorthand[16][3]
class_std_arr = full_cleaned_data[["16.1", "16.2", "16.3", "16.4", "16.5", "16.6"]].replace({"No Response" : np.nan}).astype(float).to_numpy().flatten()
class_std_arr_no_na = class_std_arr[~np.isnan(class_std_arr)]
analysis_v2[question_16_class_std] = round(np.std(class_std_arr_no_na), 1)

### 17

In [189]:
#17 (me)

lst_responses = []

for i in range(len(full_cleaned_data)):
    teammate_number = int(full_cleaned_data.iloc[i]["TeammateNumber"])
    question_needed = '17.' + str(teammate_number)
    lst_responses.append(full_cleaned_data.iloc[i][question_needed])

question_17_me = question_shorthand[17][0]
analysis_v2[question_17_me] = lst_responses

In [190]:
#Question 17 team average
question_17_tm_avg = question_shorthand[17][1]
lst_responses = []

for i in range(len(full_cleaned_data)):
    teammate_number = int(full_cleaned_data.iloc[i]["TeammateNumber"])
    team_number = int(full_cleaned_data.iloc[i]["TeamNumber"])
    question_needed = '17.' + str(teammate_number)
    lst_responses.append(round(get_teammates_average(team_number, teammate_number, question_needed), 1))

analysis_v2[question_17_tm_avg] = lst_responses

In [191]:
#analysis_v2

In [192]:
#Question 17 class avg
question_17_class_avg = question_shorthand[17][2]
class_avg = np.nanmean(full_cleaned_data[["17.1", "17.2", "17.3", "17.4", "17.5", "17.6"]].replace({"No Response" : np.nan}).astype(float).to_numpy().flatten())
analysis_v2[question_17_class_avg] = round(class_avg, 1)

In [193]:
#Question 17 class std
question_17_class_std = question_shorthand[17][3]
class_std_arr = full_cleaned_data[["17.1", "17.2", "17.3", "17.4", "17.5", "17.6"]].replace({"No Response" : np.nan}).astype(float).to_numpy().flatten()
class_std_arr_no_na = class_std_arr[~np.isnan(class_std_arr)]
analysis_v2[question_17_class_std] = round(np.std(class_std_arr_no_na), 1)

### 18

In [194]:
#18 (me)

lst_responses = []

for i in range(len(full_cleaned_data)):
    teammate_number = int(full_cleaned_data.iloc[i]["TeammateNumber"])
    question_needed = '18.' + str(teammate_number)
    lst_responses.append(full_cleaned_data.iloc[i][question_needed])

question_18_me = question_shorthand[18][0]
analysis_v2[question_18_me] = lst_responses

In [195]:
#Question 18 team average
question_18_tm_avg = question_shorthand[18][1]
lst_responses = []

for i in range(len(full_cleaned_data)):
    teammate_number = int(full_cleaned_data.iloc[i]["TeammateNumber"])
    team_number = int(full_cleaned_data.iloc[i]["TeamNumber"])
    question_needed = '18.' + str(teammate_number)
    lst_responses.append(round(get_teammates_average(team_number, teammate_number, question_needed), 1))

analysis_v2[question_18_tm_avg] = lst_responses

In [196]:
#Question 18 class avg
question_18_class_avg = question_shorthand[18][2]
class_avg = np.nanmean(full_cleaned_data[["18.1", "18.2", "18.3", "18.4", "18.5", "18.6"]].replace({"No Response" : np.nan}).astype(float).to_numpy().flatten())
analysis_v2[question_18_class_avg] = round(class_avg, 1)

In [197]:
#Question 18 class std
question_18_class_std = question_shorthand[18][3]
class_std_arr = full_cleaned_data[["18.1", "18.2", "18.3", "18.4", "18.5", "18.6"]].replace({"No Response" : np.nan}).astype(float).to_numpy().flatten()
class_std_arr_no_na = class_std_arr[~np.isnan(class_std_arr)]
analysis_v2[question_18_class_std] = round(np.std(class_std_arr_no_na), 1)

### 19

In [198]:
#19 (me)

lst_responses = []

for i in range(len(full_cleaned_data)):
    teammate_number = int(full_cleaned_data.iloc[i]["TeammateNumber"])
    question_needed = '19.' + str(teammate_number)
    lst_responses.append(full_cleaned_data.iloc[i][question_needed])

question_19_me = question_shorthand[19][0]
analysis_v2[question_19_me] = lst_responses

In [199]:
#Question 19 team average
question_19_tm_avg = question_shorthand[19][1]
lst_responses = []

for i in range(len(full_cleaned_data)):
    teammate_number = int(full_cleaned_data.iloc[i]["TeammateNumber"])
    team_number = int(full_cleaned_data.iloc[i]["TeamNumber"])
    question_needed = '19.' + str(teammate_number)
    lst_responses.append(round(get_teammates_average(team_number, teammate_number, question_needed), 1))

analysis_v2[question_19_tm_avg] = lst_responses

In [200]:
#Question 19 class avg
question_19_class_avg = question_shorthand[19][2]
class_avg = np.nanmean(full_cleaned_data[["19.1", "19.2", "19.3", "19.4", "19.5", "19.6"]].replace({"No Response" : np.nan}).astype(float).to_numpy().flatten())
analysis_v2[question_19_class_avg] = round(class_avg, 1)

In [201]:
#Question 19 class std
question_19_class_std = question_shorthand[19][3]
class_std_arr = full_cleaned_data[["19.1", "19.2", "19.3", "19.4", "19.5", "19.6"]].replace({"No Response" : np.nan}).astype(float).to_numpy().flatten()
class_std_arr_no_na = class_std_arr[~np.isnan(class_std_arr)]
analysis_v2[question_19_class_std] = round(np.std(class_std_arr_no_na), 1)

## Add extra questions

In [202]:
full_cleaned_data.columns

Index(['index', 'Unnamed: 0', 'Email', 'GroupNumber', 'TeammateNumber',
       'RecipientLastName', 'RecipientFirstName', 'RecipientEmail', '2.1',
       '2.2', '2.3', '3', '3.5', '4.1', '4.5', '4.6', '4.2', '4.3', '4.4',
       '4.7', '5.1', '5.2', '5.3', '5.4', '5.5', '5.6', '6', '7', '40', '41',
       '14.1', '14.2', '14.3', '14.4', '14.5', '14.6', '39.1', '39.2', '39.3',
       '39.4', '39.5', '39.6', '16.1', '16.2', '16.3', '16.4', '16.5', '16.6',
       '17.1', '17.2', '17.3', '17.4', '17.5', '17.6', '18.1', '18.2', '18.3',
       '18.4', '18.5', '18.6', '19.1', '19.2', '19.3', '19.4', '19.5', '19.6',
       '25', 'TeamNumber'],
      dtype='object')

In [203]:

#analysis_v2[question_shorthand[38.1]] = full_cleaned_data["38.1"]
##analysis_v2[question_shorthand[38.2]] = full_cleaned_data["38.2"]
#analysis_v2[question_shorthand[38.3]] = full_cleaned_data["38.3"]
#analysis_v2["Q25"] = full_cleaned_data['33']
#analysis_v2["What did you learn from the first check-in survey feedback?"] = full_cleaned_data['57']
#analysis_v2["Q33_TEXT"] = full_cleaned_data['33.4.TEXT']
analysis_v2["Q25"] = full_cleaned_data['25']

In [204]:
analysis_v2

,FullName,Email,TeamNumber,TeammateNumber,Our team is clear about the shared goals for our work together,SharedGoalTeamAvg,SharedGoalClassAvg,SharedGoalClassStDev,We each know about one another's individual goals for our work together,IndvGoalTeamAvg,...,Communicate2ClassStDev,ExpertiseMe,ExpertiseTeammateAvg,ExpertiseClassAvg,ExpertiseClassStDev,RespectMe,RespectTeammateAvg,RespectClassAvg,RespectClassStDev,Q25
0,Nikolai Seva,nikolai_seva@berkeley.edu,1,1,7.0,6.4,6.4,0.8,7.0,6.6,...,0.7,7.0,6.5,6.6,0.6,7.0,7.0,6.7,0.5,1
1,Allegra Messinese,amessinese@berkeley.edu,1,2,6.0,6.4,6.4,0.8,7.0,6.6,...,0.7,7.0,7.0,6.6,0.6,7.0,7.0,6.7,0.5,2
2,Jo Veres,joannaveres@berkeley.edu,1,3,7.0,6.4,6.4,0.8,7.0,6.6,...,0.7,7.0,7.0,6.6,0.6,7.0,7.0,6.7,0.5,1
3,Maximillian Dean,maximillian_dean@berkeley.edu,1,4,6.0,6.4,6.4,0.8,6.0,6.6,...,0.7,7.0,7.0,6.6,0.6,7.0,7.0,6.7,0.5,2
4,Tristan Bourgade,tristan_bourgade@berkeley.edu,1,5,6.0,6.4,6.4,0.8,6.0,6.6,...,0.7,7.0,7.0,6.6,0.6,7.0,7.0,6.7,0.5,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
98,Phil Xie,phil.xie@berkeley.edu,20,1,NaN,6.8,6.4,0.8,NaN,6.5,...,0.7,No Response,6.8,6.6,0.6,No Response,6.8,6.7,0.5,No Response
99,Abigail Falk,abfalk@berkeley.edu,20,2,7.0,6.8,6.4,0.8,6.0,6.5,...,0.7,7.0,6.7,6.6,0.6,6.0,6.7,6.7,0.5,1
100,Ekta Jaswal,ejaswal17@berkeley.edu,20,3,6.0,6.8,6.4,0.8,6.0,6.5,...,0.7,6.0,5.7,6.6,0.6,6.0,6.7,6.7,0.5,1
101,Valeria Jimenez Beltran,valeria_jimenez22@berkeley.edu,20,4,7.0,6.8,6.4,0.8,7.0,6.5,...,0.7,7.0,5.3,6.6,0.6,7.0,6.3,6.7,0.5,1
102,Andersen Teoh,andwhysen@berkeley.edu,20,5,7.0,6.8,6.4,0.8,7.0,6.5,...,0.7,7.0,6.7,6.6,0.6,7.0,6.3,6.7,0.5,1

In [205]:
analysis_v2.to_csv("OCONNELL_CHECKIN03_MACROANALYSIS.csv")