In [113]:
import pandas as pd
import numpy as np
import stat
import re
import warnings
warnings.filterwarnings("ignore")

In [114]:
#cd 'cleaning'

In [115]:
#analysis = pd.read_csv("FF_HEALTH_DC3_ANALYSIS.csv")
roster = pd.read_csv("ME103_ROSTER.CSV")
dictionary = pd.read_csv("ME103_QUESTION_DICTIONARY.csv")
raw = pd.read_csv("ME103_CHECKIN01_RAW.csv")

full_cleaned_data = pd.read_csv("full_cleaned.csv")

In [117]:
full_cleaned_data

,Unnamed: 0,Email,TeamNumber,TeammateNumber,RecipientLastName,RecipientFirstName,RecipientEmail,2.1,2.2,2.3,...,18.4,18.5,18.6,19.1,19.2,19.3,19.4,19.5,19.6,25
0,0,druizjr193@berkeley.edu,1.0,1.0,Ruiz,Daniel,druizjr193@berkeley.edu,7.0,6.0,6.0,...,No Response,No Response,No Response,6.0,7.0,7.0,No Response,No Response,No Response,1
1,1,397xochitl@berkeley.edu,1.0,2.0,Ortega,Xochitl,397xochitl@berkeley.edu,7.0,7.0,7.0,...,No Response,No Response,No Response,7.0,7.0,7.0,No Response,No Response,No Response,2
2,2,shadihassani@berkeley.edu,1.0,3.0,Hassani,Shadi,shadihassani@berkeley.edu,7.0,7.0,7.0,...,No Response,No Response,No Response,7.0,7.0,7.0,No Response,No Response,No Response,1
3,3,michellelychow@berkeley.edu,2.0,1.0,Chow,Michelle,michellelychow@berkeley.edu,6.0,5.0,6.0,...,7.0,2.0,No Response,6.0,6.0,6.0,6.0,6.0,No Response,2
4,4,jazperaza@berkeley.edu,2.0,2.0,Peraza,Jazlyn,jazperaza@berkeley.edu,6.0,6.0,6.0,...,6.0,2.0,No Response,6.0,6.0,6.0,6.0,5.0,No Response,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
192,192,jamesrgotesky@berkeley.edu,45.0,3.0,Gotesky,James,jamesrgotesky@berkeley.edu,7.0,7.0,7.0,...,5.0,6.0,6.0,6.0,7.0,7.0,7.0,7.0,7.0,1
193,193,jacobfeingold@berkeley.edu,45.0,4.0,Feingold,Jacob,jacobfeingold@berkeley.edu,5.0,5.0,5.0,...,6.0,6.0,6.0,5.0,5.0,6.0,6.0,6.0,6.0,2
194,194,ericyamaguchi@berkeley.edu,45.0,5.0,Yamaguchi,Eric,ericyamaguchi@berkeley.edu,6.0,6.0,6.0,...,6.0,6.0,4.0,6.0,6.0,6.0,6.0,6.0,4.0,2
195,195,henrylibermann6718@berkeley.edu,45.0,6.0,No Response,No Response,No Response,No Response,No Response,No Response,...,No Response,No Response,No Response,No Response,No Response,No Response,No Response,No Response,No Response,No Response
196,196,petty.evan@berkeley.edu,46.0,1.0,No Response,No Response,No Response,No Response,No Response,No Response,...,No Response,No Response,No Response,No Response,No Response,No Response,No Response,No Response,No Response,No Response

In [118]:
quant = [str(x) for x in list(dictionary[dictionary["type"] == 'quantitative']["question_id"])]

numerical_data = full_cleaned_data[['TeamNumber', 'TeammateNumber','2.1',
 '2.2',
 '2.3',
 '4.1',
 '4.2',
 '4.3',
 '4.4', 
 '4.5',
 '4.6',
 '4.7',
 '5.1',
 '5.2',
 '5.3',
 '5.4', 
 '5.5',
 '5.6',
 '16.1',
 '16.2',
 '16.3',
 '16.4', 
 '16.5',
 '16.6',
 '17.1',
 '17.2',
 '17.3',
 '17.4', '17.5',
 '17.6',
 '18.1',
 '18.2',
 '18.3',
 '18.4', '18.5',
 '18.6',
 '19.1',
 '19.2',
 '19.3',
 '19.4', '19.5',
 '19.6', '25']]
numerical_data = numerical_data.replace({"No Response" : np.nan})
numerical_data.head()

,TeamNumber,TeammateNumber,2.1,2.2,2.3,4.1,4.2,4.3,4.4,4.5,...,18.4,18.5,18.6,19.1,19.2,19.3,19.4,19.5,19.6,25
0,1.0,1.0,7.0,6.0,6.0,6.0,6.0,6.0,7.0,5.0,...,NaN,NaN,NaN,6.0,7.0,7.0,NaN,NaN,NaN,1
1,1.0,2.0,7.0,7.0,7.0,7.0,7.0,7.0,7.0,7.0,...,NaN,NaN,NaN,7.0,7.0,7.0,NaN,NaN,NaN,2
2,1.0,3.0,7.0,7.0,7.0,7.0,7.0,7.0,7.0,7.0,...,NaN,NaN,NaN,7.0,7.0,7.0,NaN,NaN,NaN,1
3,2.0,1.0,6.0,5.0,6.0,7.0,5.0,5.0,6.0,6.0,...,7.0,2.0,NaN,6.0,6.0,6.0,6.0,6.0,NaN,2
4,2.0,2.0,6.0,6.0,6.0,5.0,5.0,6.0,7.0,6.0,...,6.0,2.0,NaN,6.0,6.0,6.0,6.0,5.0,NaN,2

In [119]:
numerical_data = numerical_data.astype(float)
numerical_data["Email"] = full_cleaned_data["Email"]
numerical_data = numerical_data.sort_values(["TeamNumber", "TeammateNumber"], ascending=True).reset_index()
full_cleaned_data = full_cleaned_data.sort_values(["TeamNumber", "TeammateNumber"], ascending=True).reset_index()
roster = roster.sort_values(["TeamNumber", "TeammateNumber"], ascending=True).reset_index()

In [120]:
numerical_data

,index,TeamNumber,TeammateNumber,2.1,2.2,2.3,4.1,4.2,4.3,4.4,...,18.5,18.6,19.1,19.2,19.3,19.4,19.5,19.6,25,Email
0,0,1.0,1.0,7.0,6.0,6.0,6.0,6.0,6.0,7.0,...,NaN,NaN,6.0,7.0,7.0,NaN,NaN,NaN,1.0,druizjr193@berkeley.edu
1,1,1.0,2.0,7.0,7.0,7.0,7.0,7.0,7.0,7.0,...,NaN,NaN,7.0,7.0,7.0,NaN,NaN,NaN,2.0,397xochitl@berkeley.edu
2,2,1.0,3.0,7.0,7.0,7.0,7.0,7.0,7.0,7.0,...,NaN,NaN,7.0,7.0,7.0,NaN,NaN,NaN,1.0,shadihassani@berkeley.edu
3,3,2.0,1.0,6.0,5.0,6.0,7.0,5.0,5.0,6.0,...,2.0,NaN,6.0,6.0,6.0,6.0,6.0,NaN,2.0,michellelychow@berkeley.edu
4,4,2.0,2.0,6.0,6.0,6.0,5.0,5.0,6.0,7.0,...,2.0,NaN,6.0,6.0,6.0,6.0,5.0,NaN,2.0,jazperaza@berkeley.edu
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
192,192,45.0,3.0,7.0,7.0,7.0,6.0,6.0,6.0,6.0,...,6.0,6.0,6.0,7.0,7.0,7.0,7.0,7.0,1.0,jamesrgotesky@berkeley.edu
193,193,45.0,4.0,5.0,5.0,5.0,5.0,5.0,6.0,6.0,...,6.0,6.0,5.0,5.0,6.0,6.0,6.0,6.0,2.0,jacobfeingold@berkeley.edu
194,194,45.0,5.0,6.0,6.0,6.0,6.0,6.0,6.0,6.0,...,6.0,4.0,6.0,6.0,6.0,6.0,6.0,4.0,2.0,ericyamaguchi@berkeley.edu
195,195,45.0,6.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,henrylibermann6718@berkeley.edu
196,196,46.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,petty.evan@berkeley.edu

In [121]:
#Functions 

def calculate_team_averages(df):
    # Creates a DataFrame with the averages per team for each question
    return df.groupby("TeamNumber").agg(np.nanmean)[numerical_questions]

def get_team_data(team_number):
    # Returns new dataframe containing only TEAM_NUMBER's data
    return numerical_data[numerical_data['TeamNumber'] == team_number]

def get_team_average(team_number, question):
    # Gets TEAM_NUMBER's average on the specified question
    temp_df = get_team_data(team_number)
    return np.nanmean(temp_df[question])

def get_team_std(team_number, teammate_number, question):
    # Gets TEAM_NUMBER's standard deviation on the specified question and should not include self
    temp_df = get_team_data(team_number)
    temp_df = temp_df[temp_df['TeammateNumber'] != teammate_number]
    
    return np.nanstd(temp_df[question])

def get_teammates_average(team_number, teammate_number, question):
    # Gets TEAM_NUMBER's average on the specified question
    # omits data from current student given by TEAMMATE_NUMBER 
    temp_df = get_team_data(team_number)
    
    temp_df = temp_df[temp_df['TeammateNumber'] != teammate_number]
    
    return np.nanmean(temp_df[question])


def get_student_answer(team_number, teammate_number, question):
    # Returns the current student's response for the specified question
    temp_df = get_team_data(team_number)
    
    temp_df = temp_df[temp_df['TeammateNumber'] == teammate_number]
    
    return float(temp_df[question])
    #return temp_df[question]

def get_class_average(question):
    # Returns the class average for QUESTION
    return np.mean(numerical_data[question])

def get_class_stdv(question):
    # Returns the class std dev for QUESTION
    return np.std(numerical_data[question])

## Part 1: Identification Information

In [122]:
#roster = roster.rename({"FullName": "Full Name"}, axis=1)

In [123]:
roster["FullName"] = roster["FirstName"] + ' ' + roster["LastName"]

In [124]:
analysis_v2 = roster[["FullName", "Email", "TeamNumber", "TeammateNumber"]]

In [125]:
analysis_v2 = analysis_v2.sort_values(["TeamNumber", "TeammateNumber"], ascending=True).reset_index(drop=True)

In [126]:
analysis_v2

,FullName,Email,TeamNumber,TeammateNumber
0,Daniel Ruiz,druizjr193@berkeley.edu,1,1
1,Xochitl Ortega,397xochitl@berkeley.edu,1,2
2,Shadi Hassani,shadihassani@berkeley.edu,1,3
3,Michelle Chow,michellelychow@berkeley.edu,2,1
4,Jazlyn Peraza,jazperaza@berkeley.edu,2,2
...,...,...,...,...
192,James Gotesky,jamesrgotesky@berkeley.edu,45,3
193,Jacob Feingold,jacobfeingold@berkeley.edu,45,4
194,Eric Yamaguchi,ericyamaguchi@berkeley.edu,45,5
195,Henry Libermann,henrylibermann6718@berkeley.edu,45,6
196,Evan Petty,petty.evan@berkeley.edu,46,1

## Part 2: Skills Assessment

In [127]:
...

Ellipsis

## Part 3: Survey Questionnairre

In [128]:
question_shorthand = {}
question_shorthand[2.1] = ['SharedGoalTeamAvg', 'SharedGoalClassAvg', 'SharedGoalClassStDev']
question_shorthand[2.2] = ['IndvGoalTeamAvg', 'IndvGoalClassAvg', 'IndvGoalClassStDev']
question_shorthand[2.3] = ['SupportTeamAvg', 'SupportClassAvg', 'SupportClassStDev']
question_shorthand[3.0] = ['Goal1', 'Goal2', 'Goal3', 'Goal4', 'Goal5', 'Goal6']
question_shorthand[3.5] = ['NewGoal1', 'NewGoal2', 'NewGoal3', 'NewGoal4', 'NewGoal5', 'NewGoal6']
question_shorthand[4.1] = ['CommunicateTeamAvg', 'CommunicateClassAvg', 'CommunicateClassStDev']
question_shorthand[4.2] = ['WorkAllocTeamAvg', 'WorkAllocClassAvg', 'WorkAllocClassStDev']
question_shorthand[4.3] = ['RoleTeamAvg', 'RoleClassAvg', 'RoleClassStDev']
question_shorthand[4.4] = ['EnjoyTeamAvg', 'EnjoyClassAvg', 'EnjoyClassStDev']
question_shorthand[4.5] = ['ConflictResTeamAvg', 'ConflictResClassAvg', 'ConflictResClassStDev']
question_shorthand[4.6] = ['EfficiencyTeamAvg', 'EfficiencyClassAvg', 'EfficiencyClassStDev']
question_shorthand[4.7] = ['ExpressionTeamAvg', 'ExpressionClassAvg', 'ExpressionClassStDev']

question_shorthand[5.0] = ['MyPoints', 'TeammateAvgPoints', 'ExpectedPoints', 'Percent', 'AveragePointsAllocated', 'StDevPointsAllocated']
question_shorthand[5.1] = 'Work Contribution Teammate 1'
question_shorthand[5.2] = 'Work Contribution Teammate 2'
question_shorthand[5.3] = 'Work Contribution Teammate 3'
question_shorthand[5.4] = 'Work Contribution Teammate 4'
question_shorthand[5.5] = 'Work Contribution Teammate 5'
question_shorthand[5.6] = 'Work Contribution Teammate 6' #might need to increase this based on team size
question_shorthand[6.0] = ['DidWellMe','DidWell1','DidWell2','DidWell3','DidWell4', 'DidWell5','DidWell6' ]
question_shorthand[7] = ['DoDiffMe', 'DoDiff1', 'DoDiff2', 'DoDiff3', 'DoDiff4','DoDiff5', 'DoDiff6']
#question_shorthand[9.1] = 'ImproveAmt1'
#question_shorthand[9.2] = 'ImproveAmt2'
#question_shorthand[9.3] = 'ImproveAmt3'
#question_shorthand[10.1] = ["AskFeedbackClassAvg", "AskFeedbackClassStDev"]
#question_shorthand[10.2] = ["AskHelpClassAvg", "AskHelpClassStDev"]
#question_shorthand[10.3] = ["ValueContrClassAvg", "ValueContrClassStdev"]
#question_shorthand[10.4] = ["ReflectClassAvg", "ReflectClassStDev"]
#questions 11-13 are just imported as questions themselves as columns
question_shorthand[14] = ["ContributeMe", "Contribute1", "Contribute2", "Contribute3", "Contribute4", "Contribute5", "Contribute6"]
question_shorthand[15] = ['ImproveMe', 'Improve1', 'Improve2', 'Improve3', 'Improve4', 'Improve5', 'Improve6']
question_shorthand[16] = ['InitiativeMe', 'InitiativeTeammateAvg', 'InitiativeClassAvg', 'InitiativeClassStDev']
question_shorthand[17] = ['CommunicateMe', 'CommunicateTeammateAvg', 'Communicate2ClassAvg', 'Communicate2ClassStDev']
question_shorthand[18] = ['ExpertiseMe', 'ExpertiseTeammateAvg', 'ExpertiseClassAvg', 'ExpertiseClassStDev']
question_shorthand[19] = ['RespectMe', 'RespectTeammateAvg', 'RespectClassAvg', 'RespectClassStDev']
#question_shorthand[38.1] = 'ImproveAmt1'
#question_shorthand[38.2] = 'ImproveAmt2'
#question_shorthand[38.3] = 'ImproveAmt3'

### 2.1

In [129]:
#Question 2.1

question_2_1 = dictionary[dictionary["question_id"] == 2.1].reset_index()["question"][0]
analysis_v2[question_2_1] = numerical_data["2.1"]

In [130]:
#Question 2.1 team average
question_2_1_0 = question_shorthand[2.1][0]
lst_responses = []
for student_team_number in analysis_v2["TeamNumber"]:
    #team_size = max(analysis_v2[analysis_v2["TeamNumber"] == team]["TeammateNumber"])
    lst_responses.append(round(get_team_average(student_team_number, "2.1"), 1))

analysis_v2[question_2_1_0] = lst_responses

In [131]:
analysis_v2

,FullName,Email,TeamNumber,TeammateNumber,Our team is clear about the shared goals for our work together,SharedGoalTeamAvg
0,Daniel Ruiz,druizjr193@berkeley.edu,1,1,7.0,7.0
1,Xochitl Ortega,397xochitl@berkeley.edu,1,2,7.0,7.0
2,Shadi Hassani,shadihassani@berkeley.edu,1,3,7.0,7.0
3,Michelle Chow,michellelychow@berkeley.edu,2,1,6.0,6.2
4,Jazlyn Peraza,jazperaza@berkeley.edu,2,2,6.0,6.2
...,...,...,...,...,...,...
192,James Gotesky,jamesrgotesky@berkeley.edu,45,3,7.0,6.0
193,Jacob Feingold,jacobfeingold@berkeley.edu,45,4,5.0,6.0
194,Eric Yamaguchi,ericyamaguchi@berkeley.edu,45,5,6.0,6.0
195,Henry Libermann,henrylibermann6718@berkeley.edu,45,6,NaN,6.0
196,Evan Petty,petty.evan@berkeley.edu,46,1,NaN,NaN

In [132]:
#Question 2.1 class avg
question_2_1_1 = question_shorthand[2.1][1]

analysis_v2[question_2_1_1] = round(get_class_average("2.1"), 1)

In [133]:


#Question 2.1 class std
question_2_1_2 = question_shorthand[2.1][2]

analysis_v2[question_2_1_2] = round(get_class_stdv("2.1"), 1)

In [134]:
#analysis_v2.iloc[97]

### 2.2

In [135]:
#Question 2.2

question_2_2 = dictionary[dictionary["question_id"] == 2.2].reset_index()["question"][0]
analysis_v2[question_2_2] = numerical_data["2.2"]

In [136]:
#Question 2.2 team average
question_2_2_0 = question_shorthand[2.2][0]
lst_responses = []
for student_team_number in analysis_v2["TeamNumber"]:
    #team_size = max(analysis_v2[analysis_v2["TeamNumber"] == team]["TeammateNumber"])
    lst_responses.append(round(get_team_average(student_team_number, "2.2"), 1))

analysis_v2[question_2_2_0] = lst_responses

In [137]:
#Question 2.2 class avg
question_2_2_1 = question_shorthand[2.2][1]

analysis_v2[question_2_2_1] = round(get_class_average("2.2"), 1)

In [138]:
#Question 2.2 class std
question_2_2_2 = question_shorthand[2.2][2]

analysis_v2[question_2_2_2] = round(get_class_stdv("2.2"), 1)

In [139]:
analysis_v2

,FullName,Email,TeamNumber,TeammateNumber,Our team is clear about the shared goals for our work together,SharedGoalTeamAvg,SharedGoalClassAvg,SharedGoalClassStDev,We each know about one another's individual goals for our work together,IndvGoalTeamAvg,IndvGoalClassAvg,IndvGoalClassStDev
0,Daniel Ruiz,druizjr193@berkeley.edu,1,1,7.0,7.0,6.2,0.9,6.0,6.7,6.1,1.0
1,Xochitl Ortega,397xochitl@berkeley.edu,1,2,7.0,7.0,6.2,0.9,7.0,6.7,6.1,1.0
2,Shadi Hassani,shadihassani@berkeley.edu,1,3,7.0,7.0,6.2,0.9,7.0,6.7,6.1,1.0
3,Michelle Chow,michellelychow@berkeley.edu,2,1,6.0,6.2,6.2,0.9,5.0,6.0,6.1,1.0
4,Jazlyn Peraza,jazperaza@berkeley.edu,2,2,6.0,6.2,6.2,0.9,6.0,6.0,6.1,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...
192,James Gotesky,jamesrgotesky@berkeley.edu,45,3,7.0,6.0,6.2,0.9,7.0,6.0,6.1,1.0
193,Jacob Feingold,jacobfeingold@berkeley.edu,45,4,5.0,6.0,6.2,0.9,5.0,6.0,6.1,1.0
194,Eric Yamaguchi,ericyamaguchi@berkeley.edu,45,5,6.0,6.0,6.2,0.9,6.0,6.0,6.1,1.0
195,Henry Libermann,henrylibermann6718@berkeley.edu,45,6,NaN,6.0,6.2,0.9,NaN,6.0,6.1,1.0
196,Evan Petty,petty.evan@berkeley.edu,46,1,NaN,NaN,6.2,0.9,NaN,NaN,6.1,1.0

### 2.3

In [140]:
#Question 2.3

question_2_3 = dictionary[dictionary["question_id"] == 2.3].reset_index()["question"][0]
analysis_v2[question_2_3] = numerical_data["2.3"]

In [141]:
#Question 2.3 team average
question_2_3_0 = question_shorthand[2.3][0]
lst_responses = []
for student_team_number in analysis_v2["TeamNumber"]:
    #team_size = max(analysis_v2[analysis_v2["TeamNumber"] == team]["TeammateNumber"])
    lst_responses.append(round(get_team_average(student_team_number, "2.3"), 1))

analysis_v2[question_2_3_0] = lst_responses

In [142]:
#Question 2.3 class avg
question_2_3_1 = question_shorthand[2.3][1]

analysis_v2[question_2_3_1] = round(get_class_average("2.3"), 1)

In [143]:
#Question 2.3 class std
question_2_3_2 = question_shorthand[2.3][2]

analysis_v2[question_2_3_2] = round(get_class_stdv("2.3"), 1)

### 3

In [144]:
question_3 = dictionary[dictionary["question_id"] == 3.0].reset_index()["question"][0]

In [145]:
analysis_v2[question_3] = full_cleaned_data["3"]

In [146]:
#goal 1
lst_responses = []
for student_email in analysis_v2["Email"]:
    #team_size = max(analysis_v2[analysis_v2["TeamNumber"] == team]["TeammateNumber"])
    student_team_number = analysis_v2[analysis_v2["Email"] == student_email].reset_index()["TeamNumber"][0]
    student_teammate_number = analysis_v2[analysis_v2["Email"] == student_email].reset_index()["TeammateNumber"][0]
    team_df = full_cleaned_data[full_cleaned_data["TeamNumber"] == student_team_number]
    df_question_at_hand = team_df[team_df["TeammateNumber"] == 1].reset_index()["3"]
    if len(df_question_at_hand) == 0:
        lst_responses.append(np.nan)
    else:
        lst_responses.append(df_question_at_hand[0])
    
question_3_1 = question_shorthand[3.0][0]
analysis_v2[question_3_1] = lst_responses

In [147]:
#goal 2
lst_responses = []
for student_email in analysis_v2["Email"]:
    #team_size = max(analysis_v2[analysis_v2["TeamNumber"] == team]["TeammateNumber"])
    student_team_number = analysis_v2[analysis_v2["Email"] == student_email].reset_index()["TeamNumber"][0]
    student_teammate_number = analysis_v2[analysis_v2["Email"] == student_email].reset_index()["TeammateNumber"][0]
    team_df = full_cleaned_data[full_cleaned_data["TeamNumber"] == student_team_number]
    df_question_at_hand = team_df[team_df["TeammateNumber"] == 2].reset_index()["3"]
    if len(df_question_at_hand) == 0:
        lst_responses.append(np.nan)
    else:
        lst_responses.append(df_question_at_hand[0])
    
question_3_2 = question_shorthand[3.0][1]
analysis_v2[question_3_2] = lst_responses

In [148]:
#goal 3
lst_responses = []
for student_email in analysis_v2["Email"]:
    #team_size = max(analysis_v2[analysis_v2["TeamNumber"] == team]["TeammateNumber"])
    student_team_number = analysis_v2[analysis_v2["Email"] == student_email].reset_index()["TeamNumber"][0]
    student_teammate_number = analysis_v2[analysis_v2["Email"] == student_email].reset_index()["TeammateNumber"][0]
    team_df = full_cleaned_data[full_cleaned_data["TeamNumber"] == student_team_number]
    df_question_at_hand = team_df[team_df["TeammateNumber"] == 3].reset_index()["3"]
    if len(df_question_at_hand) == 0:
        lst_responses.append(np.nan)
    else:
        lst_responses.append(df_question_at_hand[0])
    
question_3_3 = question_shorthand[3.0][2]
analysis_v2[question_3_3] = lst_responses

In [149]:
#goal 4
lst_responses = []
for student_email in analysis_v2["Email"]:
    #team_size = max(analysis_v2[analysis_v2["TeamNumber"] == team]["TeammateNumber"])
    student_team_number = analysis_v2[analysis_v2["Email"] == student_email].reset_index()["TeamNumber"][0]
    student_teammate_number = analysis_v2[analysis_v2["Email"] == student_email].reset_index()["TeammateNumber"][0]
    team_df = full_cleaned_data[full_cleaned_data["TeamNumber"] == student_team_number]
    df_question_at_hand = team_df[team_df["TeammateNumber"] == 4].reset_index()["3"]
    if len(df_question_at_hand) == 0:
        lst_responses.append(np.nan)
    else:
        lst_responses.append(df_question_at_hand[0])
    
question_3_4 = question_shorthand[3.0][3]
analysis_v2[question_3_4] = lst_responses

In [150]:
#goal 5
lst_responses = []
for student_email in analysis_v2["Email"]:
    #team_size = max(analysis_v2[analysis_v2["TeamNumber"] == team]["TeammateNumber"])
    student_team_number = analysis_v2[analysis_v2["Email"] == student_email].reset_index()["TeamNumber"][0]
    student_teammate_number = analysis_v2[analysis_v2["Email"] == student_email].reset_index()["TeammateNumber"][0]
    team_df = full_cleaned_data[full_cleaned_data["TeamNumber"] == student_team_number]
    df_question_at_hand = team_df[team_df["TeammateNumber"] == 5].reset_index()["3"]
    if len(df_question_at_hand) == 0:
        lst_responses.append(np.nan)
    else:
        lst_responses.append(df_question_at_hand[0])
    
question_3_5 = question_shorthand[3.0][4]
analysis_v2[question_3_5] = lst_responses

In [151]:
#goal 6
lst_responses = []
for student_email in analysis_v2["Email"]:
    #team_size = max(analysis_v2[analysis_v2["TeamNumber"] == team]["TeammateNumber"])
    student_team_number = analysis_v2[analysis_v2["Email"] == student_email].reset_index()["TeamNumber"][0]
    student_teammate_number = analysis_v2[analysis_v2["Email"] == student_email].reset_index()["TeammateNumber"][0]
    team_df = full_cleaned_data[full_cleaned_data["TeamNumber"] == student_team_number]
    df_question_at_hand = team_df[team_df["TeammateNumber"] == 6].reset_index()["3"]
    if len(df_question_at_hand) == 0:
        lst_responses.append(np.nan)
    else:
        lst_responses.append(df_question_at_hand[0])
    
question_3_6 = question_shorthand[3.0][5]
analysis_v2[question_3_6] = lst_responses

In [152]:
#no adjusted goals

### 4.1

In [153]:
#Question 4.1

question_4_1 = dictionary[dictionary["question_id"] == 4.1].reset_index()["question"][0]
analysis_v2[question_4_1] = numerical_data["4.1"]

In [154]:
#analysis_v2

In [155]:
#Question 4.1 team average
question_4_1_0 = question_shorthand[4.1][0]
lst_responses = []
for student_team_number in analysis_v2["TeamNumber"]:
    #team_size = max(analysis_v2[analysis_v2["TeamNumber"] == team]["TeammateNumber"])
    lst_responses.append(round(get_team_average(student_team_number, "4.1"), 1))

analysis_v2[question_4_1_0] = lst_responses

In [156]:
#analysis_v2

In [157]:
#Question 4.1 class avg
question_4_1_1 = question_shorthand[4.1][1]

analysis_v2[question_4_1_1] = round(get_class_average("4.1"), 1)

In [158]:
#Question 4.1 class std
question_4_1_2 = question_shorthand[4.1][2]

analysis_v2[question_4_1_2] = round(get_class_stdv("4.1"), 1)

### 4.2

In [159]:
#Question 4.2

question_4_2 = dictionary[dictionary["question_id"] == 4.2].reset_index()["question"][0]
analysis_v2[question_4_2] = numerical_data["4.2"]

In [160]:
#Question 4.2 team average
question_4_2_0 = question_shorthand[4.2][0]
lst_responses = []
for student_team_number in analysis_v2["TeamNumber"]:
    #team_size = max(analysis_v2[analysis_v2["TeamNumber"] == team]["TeammateNumber"])
    lst_responses.append(round(get_team_average(student_team_number, "4.2"), 1))

analysis_v2[question_4_2_0] = lst_responses

In [161]:
#Question 4.2 class avg
question_4_2_1 = question_shorthand[4.2][1]

analysis_v2[question_4_2_1] = round(get_class_average("4.2"), 1)

In [162]:
#Question 4.2 class std
question_4_2_2 = question_shorthand[4.2][2]

analysis_v2[question_4_2_2] = round(get_class_stdv("4.2"), 1)

### 4.3

In [163]:
#Question 4.3

question_4_3 = dictionary[dictionary["question_id"] == 4.3].reset_index()["question"][0]
analysis_v2[question_4_3] = numerical_data["4.3"]

In [164]:
#Question 4.1 team average
question_4_3_0 = question_shorthand[4.3][0]
lst_responses = []
for student_team_number in analysis_v2["TeamNumber"]:
    #team_size = max(analysis_v2[analysis_v2["TeamNumber"] == team]["TeammateNumber"])
    lst_responses.append(round(get_team_average(student_team_number, "4.3"), 1))

analysis_v2[question_4_3_0] = lst_responses

In [165]:
#Question 4.3 class avg
question_4_3_1 = question_shorthand[4.3][1]

analysis_v2[question_4_3_1] = round(get_class_average("4.3"), 1)

In [166]:
#Question 4.3 class std
question_4_3_2 = question_shorthand[4.3][2]

analysis_v2[question_4_3_2] = round(get_class_stdv("4.3"), 1)

### 4.4

In [167]:
#Question 4.4

question_4_4 = dictionary[dictionary["question_id"] == 4.4].reset_index()["question"][0]
analysis_v2[question_4_4] = numerical_data["4.4"]

In [168]:
#Question 4.4 team average
question_4_4_0 = question_shorthand[4.4][0]
lst_responses = []
for student_team_number in analysis_v2["TeamNumber"]:
    #team_size = max(analysis_v2[analysis_v2["TeamNumber"] == team]["TeammateNumber"])
    lst_responses.append(round(get_team_average(student_team_number, "4.4"), 1))

analysis_v2[question_4_4_0] = lst_responses

In [169]:
#Question 4.4 class avg
question_4_4_1 = question_shorthand[4.4][1]

analysis_v2[question_4_4_1] = round(get_class_average("4.4"), 1)

In [170]:
#Question 4.4 class std
question_4_4_2 = question_shorthand[4.4][2]

analysis_v2[question_4_4_2] = round(get_class_stdv("4.4"), 1)

### 4.5

In [171]:
#Question 4.5

question_4_5 = dictionary[dictionary["question_id"] == 4.5].reset_index()["question"][0]
analysis_v2[question_4_5] = numerical_data["4.5"]

In [172]:
#Question 4.5 team average
question_4_5_0 = question_shorthand[4.5][0]
lst_responses = []
for student_team_number in analysis_v2["TeamNumber"]:
    #team_size = max(analysis_v2[analysis_v2["TeamNumber"] == team]["TeammateNumber"])
    lst_responses.append(round(get_team_average(student_team_number, "4.5"), 1))

analysis_v2[question_4_5_0] = lst_responses

In [173]:
#Question 4.5 class avg
question_4_5_1 = question_shorthand[4.5][1]

analysis_v2[question_4_5_1] = round(get_class_average("4.5"), 1)

In [174]:
#Question 4.5 class std
question_4_5_2 = question_shorthand[4.5][2]

analysis_v2[question_4_5_2] = round(get_class_stdv("4.5"), 1)

### 4.6

In [175]:
#Question 4.6

question_4_6 = dictionary[dictionary["question_id"] == 4.6].reset_index()["question"][0]
analysis_v2[question_4_6] = numerical_data["4.6"]

#Question 4.6 team average
question_4_6_0 = question_shorthand[4.6][0]
lst_responses = []
for student_team_number in analysis_v2["TeamNumber"]:
    #team_size = max(analysis_v2[analysis_v2["TeamNumber"] == team]["TeammateNumber"])
    lst_responses.append(round(get_team_average(student_team_number, "4.6"), 1))

analysis_v2[question_4_6_0] = lst_responses

#Question 4.6 class avg
question_4_6_1 = question_shorthand[4.6][1]

analysis_v2[question_4_6_1] = round(get_class_average("4.6"), 1)

#Question 4.6 class std
question_4_6_2 = question_shorthand[4.6][2]

analysis_v2[question_4_6_2] = round(get_class_stdv("4.6"), 1)

### 4.7

In [176]:
#Question 4.7

question_4_7 = dictionary[dictionary["question_id"] == 4.7].reset_index()["question"][0]
analysis_v2[question_4_7] = numerical_data["4.7"]

#Question 4.7 team average
question_4_7_0 = question_shorthand[4.7][0]
lst_responses = []
for student_team_number in analysis_v2["TeamNumber"]:
    #team_size = max(analysis_v2[analysis_v2["TeamNumber"] == team]["TeammateNumber"])
    lst_responses.append(round(get_team_average(student_team_number, "4.7"), 1))

analysis_v2[question_4_7_0] = lst_responses

#Question 4.7 class avg
question_4_7_1 = question_shorthand[4.7][1]

analysis_v2[question_4_7_1] = round(get_class_average("4.7"), 1)

#Question 4.7 class std
question_4_7_2 = question_shorthand[4.7][2]

analysis_v2[question_4_7_2] = round(get_class_stdv("4.7"), 1)

### 5

In [177]:
#Question 5.1-5.6. will need to change this according to how many people are on a team
question_5_1 = dictionary[dictionary["question_id"] == 5.1].reset_index()["question"][0]
question_5_2 = dictionary[dictionary["question_id"] == 5.2].reset_index()["question"][0]
question_5_3 = dictionary[dictionary["question_id"] == 5.3].reset_index()["question"][0]
question_5_4 = dictionary[dictionary["question_id"] == 5.4].reset_index()["question"][0]
question_5_5 = dictionary[dictionary["question_id"] == 5.5].reset_index()["question"][0]
question_5_6 = dictionary[dictionary["question_id"] == 5.6].reset_index()["question"][0]

analysis_v2[question_5_1] = full_cleaned_data[["5.1"]]
analysis_v2[question_5_2] = full_cleaned_data[["5.2"]]
analysis_v2[question_5_3] = full_cleaned_data[["5.3"]]
analysis_v2[question_5_4] = full_cleaned_data[["5.4"]]
analysis_v2[question_5_5] = full_cleaned_data[["5.5"]]
analysis_v2[question_5_6] = full_cleaned_data[["5.6"]]

In [178]:
#Calculations

#MyPoints
lst_responses = []
for student_email in analysis_v2["Email"]:
    #team_size = max(analysis_v2[analysis_v2["TeamNumber"] == team]["TeammateNumber"])
    student_team_number = analysis_v2[analysis_v2["Email"] == student_email].reset_index()["TeamNumber"][0]
    student_teammate_number = analysis_v2[analysis_v2["Email"] == student_email].reset_index()["TeammateNumber"][0]
    team_df = full_cleaned_data[full_cleaned_data["TeamNumber"] == student_team_number]
    student_df = team_df[team_df["TeammateNumber"] == student_teammate_number].reset_index()
    question_needed = '5.' + str(int(student_teammate_number))
    #print(student_df)
    lst_responses.append(student_df[question_needed].reset_index()[question_needed][0])
    
question_5_a = question_shorthand[5][0]
analysis_v2[question_5_a] = lst_responses

In [179]:
#TeammateAvgPoints
lst_responses = []
for student_email in analysis_v2["Email"]:
    #team_size = max(analysis_v2[analysis_v2["TeamNumber"] == team]["TeammateNumber"])
    student_team_number = analysis_v2[analysis_v2["Email"] == student_email].reset_index()["TeamNumber"][0]
    student_teammate_number = analysis_v2[analysis_v2["Email"] == student_email].reset_index()["TeammateNumber"][0]
    question_needed = '5.' + str(int(student_teammate_number))
    lst_responses.append(round(get_teammates_average(student_team_number, student_teammate_number, question_needed), 1))

question_5_b = question_shorthand[5][1]
analysis_v2[question_5_b] = lst_responses

In [180]:
#ExpectedPoints
lst_responses = []
for student_team_number in analysis_v2["TeamNumber"]:
    team_size = max(analysis_v2[analysis_v2["TeamNumber"] == student_team_number]["TeammateNumber"])
    lst_responses.append(round(100/team_size, 1))

question_5_c = question_shorthand[5][2]
analysis_v2[question_5_c] = lst_responses

In [181]:
#Percent
question_5_d = question_shorthand[5][3]
analysis_v2[question_5_d] = round((analysis_v2[question_5_b] / analysis_v2[question_5_c]) * 100, 1)

In [182]:
#AveragePointsAllocated
lst_responses = []
for student_email in analysis_v2["Email"]:
    student_team_number = analysis_v2[analysis_v2["Email"] == student_email].reset_index()["TeamNumber"][0]
    team_size = max(analysis_v2[analysis_v2["TeamNumber"] == student_team_number]["TeammateNumber"])
    student_teammate_number = analysis_v2[analysis_v2["Email"] == student_email].reset_index()["TeammateNumber"][0]
    
    temp_q5_df = full_cleaned_data[full_cleaned_data["TeamNumber"] == student_team_number][["5.1", "5.2", "5.3", "5.4", "5.5", "5.6"]]
    temp_q5_df = temp_q5_df.replace({"No Response" : np.nan}).astype(float)
    sum_points = sum(temp_q5_df.reset_index().drop("index", axis=1).iloc[int(student_teammate_number) - 1])
    lst_responses.append(round(sum_points/team_size, 1))

question_5_e = question_shorthand[5][4]
analysis_v2[question_5_e] = lst_responses

In [183]:
#StDevPointsAllocated
lst_responses = []
for student_email in analysis_v2["Email"]:
    student_team_number = analysis_v2[analysis_v2["Email"] == student_email].reset_index()["TeamNumber"][0]
    team_size = max(analysis_v2[analysis_v2["TeamNumber"] == student_team_number]["TeammateNumber"])
    student_teammate_number = analysis_v2[analysis_v2["Email"] == student_email].reset_index()["TeammateNumber"][0]
    
    temp_q5_df = full_cleaned_data[full_cleaned_data["TeamNumber"] == student_team_number][["5.1", "5.2", "5.3", "5.4", "5.5", "5.6"]]
    temp_q5_df = temp_q5_df.replace({"No Response" : np.nan}).astype(float)
    arr = temp_q5_df.reset_index().drop("index", axis=1).dropna().to_numpy().flatten()
    std = np.std(arr[arr != 0])
    lst_responses.append(round(std, 1))

question_5_f = question_shorthand[5][5]
analysis_v2[question_5_f] = lst_responses

In [184]:
analysis_v2

,FullName,Email,TeamNumber,TeammateNumber,Our team is clear about the shared goals for our work together,SharedGoalTeamAvg,SharedGoalClassAvg,SharedGoalClassStDev,We each know about one another's individual goals for our work together,IndvGoalTeamAvg,...,Please allocate 100 points across yourself and your teammates for your contributions to the work of the team. For teammate 3,Please allocate 100 points across yourself and your teammates for your contributions to the work of the team. For teammate 4,Please allocate 100 points across yourself and your teammates for your contributions to the work of the team. For teammate 5,Please allocate 100 points across yourself and your teammates for your contributions to the work of the team. For teammate 6,MyPoints,TeammateAvgPoints,ExpectedPoints,Percent,AveragePointsAllocated,StDevPointsAllocated
0,Daniel Ruiz,druizjr193@berkeley.edu,1,1,7.0,7.0,6.2,0.9,6.0,6.7,...,30,0,0,0,40,36.0,33.3,108.1,33.3,3.3
1,Xochitl Ortega,397xochitl@berkeley.edu,1,2,7.0,7.0,6.2,0.9,7.0,6.7,...,31,0,0,0,31,31.5,33.3,94.6,33.3,3.3
2,Shadi Hassani,shadihassani@berkeley.edu,1,3,7.0,7.0,6.2,0.9,7.0,6.7,...,33,0,0,0,33,30.5,33.3,91.6,33.3,3.3
3,Michelle Chow,michellelychow@berkeley.edu,2,1,6.0,6.2,6.2,0.9,5.0,6.0,...,22,22,12,0,22,21.3,20.0,106.5,20.0,3.5
4,Jazlyn Peraza,jazperaza@berkeley.edu,2,2,6.0,6.2,6.2,0.9,6.0,6.0,...,23,23,11,0,21,22.0,20.0,110.0,20.0,3.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
192,James Gotesky,jamesrgotesky@berkeley.edu,45,3,7.0,6.0,6.2,0.9,7.0,6.0,...,15,20,15,15,15,17.5,16.7,104.8,16.7,3.0
193,Jacob Feingold,jacobfeingold@berkeley.edu,45,4,5.0,6.0,6.2,0.9,5.0,6.0,...,17,18,17,10,18,19.2,16.7,115.0,16.7,3.0
194,Eric Yamaguchi,ericyamaguchi@berkeley.edu,45,5,6.0,6.0,6.2,0.9,6.0,6.0,...,17,19,20,0,20,17.2,16.7,103.0,16.7,3.0
195,Henry Libermann,henrylibermann6718@berkeley.edu,45,6,NaN,6.0,6.2,0.9,NaN,6.0,...,No Response,No Response,No Response,No Response,No Response,7.8,16.7,46.7,NaN,3.0
196,Evan Petty,petty.evan@berkeley.edu,46,1,NaN,NaN,6.2,0.9,NaN,NaN,...,No Response,No Response,No Response,No Response,No Response,NaN,100.0,NaN,NaN,NaN

### 6

In [185]:
#Didwellme 

lst_responses = []
for student_email in analysis_v2["Email"]:
    student_team_number = analysis_v2[analysis_v2["Email"] == student_email].reset_index()["TeamNumber"][0]
    #team_size = max(analysis_v2[analysis_v2["TeamNumber"] == student_team_number]["TeammateNumber"])
    student_teammate_number = analysis_v2[analysis_v2["Email"] == student_email].reset_index()["TeammateNumber"][0]
    temp_q6_df = full_cleaned_data[full_cleaned_data["TeamNumber"] == student_team_number]
    response = temp_q6_df[temp_q6_df["TeammateNumber"] == student_teammate_number].reset_index()["6"][0]
    lst_responses.append(response)

question_6_a = question_shorthand[6][0]
analysis_v2[question_6_a] = lst_responses

In [186]:
#DidWell1 thru DidWell6

subset_df = analysis_v2[["TeamNumber", "TeammateNumber", "DidWellMe"]]
#subset_df[subset_df["TeammateNumber"] == 1]
#subset_df

lst_responses_1 = []
lst_responses_2 = []
lst_responses_3 = []
lst_responses_4 = []
lst_responses_5 = []
lst_responses_6 = []

for team in subset_df["TeamNumber"]:#.unique():
    team_series = subset_df[subset_df["TeamNumber"] == team].reset_index()["DidWellMe"]
    if len(team_series) == 1:
        lst_responses_1.append(team_series[0])
        lst_responses_2.append(np.nan)
        lst_responses_3.append(np.nan)
        lst_responses_4.append(np.nan)
        lst_responses_5.append(np.nan)
        lst_responses_6.append(np.nan)
    if len(team_series) == 2:
        lst_responses_1.append(team_series[0])
        lst_responses_2.append(team_series[1])
        lst_responses_3.append(np.nan)
        lst_responses_4.append(np.nan)
        lst_responses_5.append(np.nan)
        lst_responses_6.append(np.nan)
    if len(team_series) == 3:
        lst_responses_1.append(team_series[0])
        lst_responses_2.append(team_series[1])
        lst_responses_3.append(team_series[2])
        lst_responses_4.append(np.nan)
        lst_responses_5.append(np.nan)
        lst_responses_6.append(np.nan)
    if len(team_series) == 4:
        lst_responses_1.append(team_series[0])
        lst_responses_2.append(team_series[1])
        lst_responses_3.append(team_series[2])
        lst_responses_4.append(team_series[3])
        lst_responses_5.append(np.nan)
        lst_responses_6.append(np.nan)
    if len(team_series) == 5:
        lst_responses_1.append(team_series[0])
        lst_responses_2.append(team_series[1])
        lst_responses_3.append(team_series[2])
        lst_responses_4.append(team_series[3])
        lst_responses_5.append(team_series[4])
        lst_responses_6.append(np.nan)
    if len(team_series) == 6:
        lst_responses_1.append(team_series[0])
        lst_responses_2.append(team_series[1])
        lst_responses_3.append(team_series[2])
        lst_responses_4.append(team_series[3])
        lst_responses_5.append(team_series[4])
        lst_responses_6.append(team_series[5])

question_6_b = question_shorthand[6][1]
question_6_c = question_shorthand[6][2]
question_6_d = question_shorthand[6][3]
question_6_e = question_shorthand[6][4]
question_6_f = question_shorthand[6][5]
question_6_g = question_shorthand[6][6]
analysis_v2[question_6_b] = lst_responses_1
analysis_v2[question_6_c] = lst_responses_2
analysis_v2[question_6_d] = lst_responses_3
analysis_v2[question_6_e] = lst_responses_4
analysis_v2[question_6_f] = lst_responses_5
analysis_v2[question_6_g] = lst_responses_6

### 7

In [187]:
#DoDiffMe
lst_responses = []
for student_email in analysis_v2["Email"]:
    student_team_number = analysis_v2[analysis_v2["Email"] == student_email].reset_index()["TeamNumber"][0]
    #team_size = max(analysis_v2[analysis_v2["TeamNumber"] == student_team_number]["TeammateNumber"])
    student_teammate_number = analysis_v2[analysis_v2["Email"] == student_email].reset_index()["TeammateNumber"][0]
    temp_q7_df = full_cleaned_data[full_cleaned_data["TeamNumber"] == student_team_number]
    #temp_q7_df = temp_q7_df.replace({"No Response" : np.nan}).astype(float)
    response = temp_q7_df[temp_q7_df["TeammateNumber"] == student_teammate_number].reset_index()["7"][0]
    lst_responses.append(response)

question_7_a = question_shorthand[7][0]
analysis_v2[question_7_a] = lst_responses

In [188]:
#DoDiff1 thru DoDiff6

subset_df = analysis_v2[["TeamNumber", "TeammateNumber", "DoDiffMe"]]
#subset_df[subset_df["TeammateNumber"] == 1]
#subset_df

lst_responses_1 = []
lst_responses_2 = []
lst_responses_3 = []
lst_responses_4 = []
lst_responses_5 = []
lst_responses_6 = []

for team in subset_df["TeamNumber"]:#.unique():
    team_series = subset_df[subset_df["TeamNumber"] == team].reset_index()["DoDiffMe"]
    if len(team_series) == 1:
        lst_responses_1.append(team_series[0])
        lst_responses_2.append(np.nan)
        lst_responses_3.append(np.nan)
        lst_responses_4.append(np.nan)
        lst_responses_5.append(np.nan)
        lst_responses_6.append(np.nan)
    if len(team_series) == 2:
        lst_responses_1.append(team_series[0])
        lst_responses_2.append(team_series[1])
        lst_responses_3.append(np.nan)
        lst_responses_4.append(np.nan)
        lst_responses_5.append(np.nan)
        lst_responses_6.append(np.nan)
    if len(team_series) == 3:
        lst_responses_1.append(team_series[0])
        lst_responses_2.append(team_series[1])
        lst_responses_3.append(team_series[2])
        lst_responses_4.append(np.nan)
        lst_responses_5.append(np.nan)
        lst_responses_6.append(np.nan)
    if len(team_series) == 4:
        lst_responses_1.append(team_series[0])
        lst_responses_2.append(team_series[1])
        lst_responses_3.append(team_series[2])
        lst_responses_4.append(team_series[3])
        lst_responses_5.append(np.nan)
        lst_responses_6.append(np.nan)
    if len(team_series) == 5:
        lst_responses_1.append(team_series[0])
        lst_responses_2.append(team_series[1])
        lst_responses_3.append(team_series[2])
        lst_responses_4.append(team_series[3])
        lst_responses_5.append(team_series[4])
        lst_responses_6.append(np.nan)
    if len(team_series) == 6:
        lst_responses_1.append(team_series[0])
        lst_responses_2.append(team_series[1])
        lst_responses_3.append(team_series[2])
        lst_responses_4.append(team_series[3])
        lst_responses_5.append(team_series[4])
        lst_responses_6.append(team_series[5])
        
question_7_b = question_shorthand[7][1]
question_7_c = question_shorthand[7][2]
question_7_d = question_shorthand[7][3]
question_7_e = question_shorthand[7][4]
question_7_f = question_shorthand[7][5]
question_7_g = question_shorthand[7][6]
analysis_v2[question_7_b] = lst_responses_1
analysis_v2[question_7_c] = lst_responses_2
analysis_v2[question_7_d] = lst_responses_3
analysis_v2[question_7_e] = lst_responses_4
analysis_v2[question_7_f] = lst_responses_5
analysis_v2[question_7_g] = lst_responses_6

### 9

In [189]:
#analysis_v2[question_shorthand[9.1]] = full_cleaned_data["9.1"]
#analysis_v2[question_shorthand[9.2]] = full_cleaned_data["9.2"]
#analysis_v2[question_shorthand[9.3]] = full_cleaned_data["9.3"]

### 10 (not used here but can use functions below)

In [190]:
#analysis_v2[question_shorthand[10.1][0]] = get_class_average("10.1")
#analysis_v2[question_shorthand[10.1][1]] = get_class_stdv("10.1")

#analysis_v2[question_shorthand[10.2][0]] = get_class_average("10.2")
#analysis_v2[question_shorthand[10.2][1]] = get_class_stdv("10.2")

#analysis_v2[question_shorthand[10.3][0]] = get_class_average("10.3")
#analysis_v2[question_shorthand[10.3][1]] = get_class_stdv("10.3")

### 11

In [191]:
#question_11 = dictionary[dictionary["question_id"] == 11].reset_index()["question"][0]
#analysis_v2[question_11] = full_cleaned_data["11"]

### 12

In [192]:
#question_12 = dictionary[dictionary["question_id"] == 12].reset_index()["question"][0]
#analysis_v2[question_12] = full_cleaned_data["12"]

### 14

In [193]:
#14.1 (me)

lst_responses = []

for i in range(len(full_cleaned_data)):
    teammate_number = int(full_cleaned_data.iloc[i]["TeammateNumber"])
    question_needed = '14.' + str(teammate_number)
    lst_responses.append(full_cleaned_data.iloc[i][question_needed])

question_14_me = question_shorthand[14][0]
analysis_v2[question_14_me] = lst_responses

In [194]:
analysis_v2.head()

,FullName,Email,TeamNumber,TeammateNumber,Our team is clear about the shared goals for our work together,SharedGoalTeamAvg,SharedGoalClassAvg,SharedGoalClassStDev,We each know about one another's individual goals for our work together,IndvGoalTeamAvg,...,DidWell5,DidWell6,DoDiffMe,DoDiff1,DoDiff2,DoDiff3,DoDiff4,DoDiff5,DoDiff6,ContributeMe
0,Daniel Ruiz,druizjr193@berkeley.edu,1,1,7.0,7.0,6.2,0.9,6.0,6.7,...,NaN,NaN,Maybe more in-person meetings would be helpful...,Maybe more in-person meetings would be helpful...,We can do better by having more meetings to be...,We could work on doing things less last minute...,NaN,NaN,NaN,Worked on matlab processing
1,Xochitl Ortega,397xochitl@berkeley.edu,1,2,7.0,7.0,6.2,0.9,7.0,6.7,...,NaN,NaN,We can do better by having more meetings to be...,Maybe more in-person meetings would be helpful...,We can do better by having more meetings to be...,We could work on doing things less last minute...,NaN,NaN,NaN,Communication and deadlines
2,Shadi Hassani,shadihassani@berkeley.edu,1,3,7.0,7.0,6.2,0.9,7.0,6.7,...,NaN,NaN,We could work on doing things less last minute...,Maybe more in-person meetings would be helpful...,We can do better by having more meetings to be...,We could work on doing things less last minute...,NaN,NaN,NaN,Ansys sims and prior aero knowledge
3,Michelle Chow,michellelychow@berkeley.edu,2,1,6.0,6.2,6.2,0.9,5.0,6.0,...,No Response,NaN,Communicate schedule changes sooner rather tha...,Communicate schedule changes sooner rather tha...,"One things that I would like my team, includin...",I think one that could improve is just updates...,"We could distribute work a bit more fairly, as...",No Response,NaN,"compassionate, action oriented, hands on, orga..."
4,Jazlyn Peraza,jazperaza@berkeley.edu,2,2,6.0,6.2,6.2,0.9,6.0,6.0,...,No Response,NaN,"One things that I would like my team, includin...",Communicate schedule changes sooner rather tha...,"One things that I would like my team, includin...",I think one that could improve is just updates...,"We could distribute work a bit more fairly, as...",No Response,NaN,Jazlyn is good at doing outside research to fi...

In [195]:
#14

question_14_1 = question_shorthand[14][1]
question_14_2 = question_shorthand[14][2]
question_14_3 = question_shorthand[14][3]
question_14_4 = question_shorthand[14][4]
question_14_5 = question_shorthand[14][5]
question_14_6 = question_shorthand[14][6]

feedback_1 = []
feedback_2 = []
feedback_3 = []
feedback_4 = []
feedback_5 = [] 
feedback_6 = []#need to adjust to max team size

#possibilities = ["14.1", "14.2", "14.3", "14.4", "14.5", "14.6"]
for i in range(len(full_cleaned_data)):
    my_teammate_number = int(full_cleaned_data.iloc[i]["TeammateNumber"])
    my_team_number = int(full_cleaned_data.iloc[i]["TeamNumber"])
    my_team_number_str = str(full_cleaned_data.iloc[i]["TeamNumber"])
    my_team_df = full_cleaned_data[full_cleaned_data["TeamNumber"] == my_team_number]
    list_feedback_for_me = list(my_team_df["14." + str(my_teammate_number)])
    num_teammates = len(list_feedback_for_me)
    extra_needed = 6 - num_teammates
    placeholders = [''] * extra_needed
    all_feedback = list_feedback_for_me + placeholders

    feedback_1.append(all_feedback[0])
    feedback_2.append(all_feedback[1])
    feedback_3.append(all_feedback[2])
    feedback_4.append(all_feedback[3])
    feedback_5.append(all_feedback[4])
    feedback_6.append(all_feedback[5])
    
analysis_v2[question_14_1] = feedback_1
analysis_v2[question_14_2] = feedback_2
analysis_v2[question_14_3] = feedback_3
analysis_v2[question_14_4] = feedback_4
analysis_v2[question_14_5] = feedback_5
analysis_v2[question_14_6] = feedback_6

In [196]:
analysis_v2.head()

,FullName,Email,TeamNumber,TeammateNumber,Our team is clear about the shared goals for our work together,SharedGoalTeamAvg,SharedGoalClassAvg,SharedGoalClassStDev,We each know about one another's individual goals for our work together,IndvGoalTeamAvg,...,DoDiff4,DoDiff5,DoDiff6,ContributeMe,Contribute1,Contribute2,Contribute3,Contribute4,Contribute5,Contribute6
0,Daniel Ruiz,druizjr193@berkeley.edu,1,1,7.0,7.0,6.2,0.9,6.0,6.7,...,NaN,NaN,NaN,Worked on matlab processing,Worked on matlab processing,Exploratory questions to dig deeper,Questions and Wind Tunnel expert,,,
1,Xochitl Ortega,397xochitl@berkeley.edu,1,2,7.0,7.0,6.2,0.9,7.0,6.7,...,NaN,NaN,NaN,Communication and deadlines,Ensures we are constantly communicating and sh...,Communication and deadlines,Communication and Deadlines,,,
2,Shadi Hassani,shadihassani@berkeley.edu,1,3,7.0,7.0,6.2,0.9,7.0,6.7,...,NaN,NaN,NaN,Ansys sims and prior aero knowledge,Maintains clear communication and updates on t...,Aerospace Knowledge,Ansys sims and prior aero knowledge,,,
3,Michelle Chow,michellelychow@berkeley.edu,2,1,6.0,6.2,6.2,0.9,5.0,6.0,...,"We could distribute work a bit more fairly, as...",No Response,NaN,"compassionate, action oriented, hands on, orga...","compassionate, action oriented, hands on, orga...",Michelle has a done of great idea for the proj...,She could be the healer if we were in a videog...,"Great at writing and analysis, hard worker!",No Response,
4,Jazlyn Peraza,jazperaza@berkeley.edu,2,2,6.0,6.2,6.2,0.9,6.0,6.0,...,"We could distribute work a bit more fairly, as...",No Response,NaN,Jazlyn is good at doing outside research to fi...,"kind, thoughtful, helpful with leading meeting...",Jazlyn is good at doing outside research to fi...,Micro tasker. She is willing to learn and assi...,"Great MATLAB and presentation of data, also di...",No Response,

### 15

In [197]:
#15.1 (me)

lst_responses = []

for i in range(len(full_cleaned_data)):
    teammate_number = int(full_cleaned_data.iloc[i]["TeammateNumber"])
    question_needed = '15.' + str(teammate_number)
    lst_responses.append(full_cleaned_data.iloc[i][question_needed])

question_15_me = question_shorthand[15][0]
analysis_v2[question_15_me] = lst_responses

In [198]:
#15

question_15_1 = question_shorthand[15][1]
question_15_2 = question_shorthand[15][2]
question_15_3 = question_shorthand[15][3]
question_15_4 = question_shorthand[15][4]
question_15_5 = question_shorthand[15][5]
question_15_6 = question_shorthand[15][6]

feedback_1 = []
feedback_2 = []
feedback_3 = []
feedback_4 = []
feedback_5 = [] 
feedback_6 = []#need to adjust to max team size

#possibilities = ["14.1", "14.2", "14.3", "14.4", "14.5", "14.6"]
for i in range(len(full_cleaned_data)):
    my_teammate_number = int(full_cleaned_data.iloc[i]["TeammateNumber"])
    my_team_number = int(full_cleaned_data.iloc[i]["TeamNumber"])
    my_team_number_str = str(full_cleaned_data.iloc[i]["TeamNumber"])
    my_team_df = full_cleaned_data[full_cleaned_data["TeamNumber"] == my_team_number]
    list_feedback_for_me = list(my_team_df["15." + str(my_teammate_number)])
    num_teammates = len(list_feedback_for_me)
    extra_needed = 6 - num_teammates
    placeholders = [''] * extra_needed
    all_feedback = list_feedback_for_me + placeholders

    feedback_1.append(all_feedback[0])
    feedback_2.append(all_feedback[1])
    feedback_3.append(all_feedback[2])
    feedback_4.append(all_feedback[3])
    feedback_5.append(all_feedback[4])
    feedback_6.append(all_feedback[5])
    
analysis_v2[question_15_1] = feedback_1
analysis_v2[question_15_2] = feedback_2
analysis_v2[question_15_3] = feedback_3
analysis_v2[question_15_4] = feedback_4
analysis_v2[question_15_5] = feedback_5
analysis_v2[question_15_6] = feedback_6

### 16

In [199]:

#16 (me)

lst_responses = []

for i in range(len(full_cleaned_data)):
    teammate_number = int(full_cleaned_data.iloc[i]["TeammateNumber"])
    question_needed = '16.' + str(teammate_number)
    lst_responses.append(full_cleaned_data.iloc[i][question_needed])

question_16_me = question_shorthand[16][0]
analysis_v2[question_16_me] = lst_responses

In [200]:
#Question 16 team average
question_16_tm_avg = question_shorthand[16][1]
lst_responses = []

for i in range(len(full_cleaned_data)):
    teammate_number = int(full_cleaned_data.iloc[i]["TeammateNumber"])
    team_number = int(full_cleaned_data.iloc[i]["TeamNumber"])
    question_needed = '16.' + str(teammate_number)
    lst_responses.append(round(get_teammates_average(team_number, teammate_number, question_needed), 1))

analysis_v2[question_16_tm_avg] = lst_responses

In [201]:
#Question 16 class avg
question_16_class_avg = question_shorthand[16][2]
class_avg = np.nanmean(full_cleaned_data[["16.1", "16.2", "16.3", "16.4", "16.5", "16.6"]].replace({"No Response" : np.nan}).astype(float).to_numpy().flatten())
analysis_v2[question_16_class_avg] = round(class_avg, 1)

In [202]:
#Question 16 class std
question_16_class_std = question_shorthand[16][3]
class_std_arr = full_cleaned_data[["16.1", "16.2", "16.3", "16.4", "16.5", "16.6"]].replace({"No Response" : np.nan}).astype(float).to_numpy().flatten()
class_std_arr_no_na = class_std_arr[~np.isnan(class_std_arr)]
analysis_v2[question_16_class_std] = round(np.std(class_std_arr_no_na), 1)

### 17

In [203]:
#17 (me)

lst_responses = []

for i in range(len(full_cleaned_data)):
    teammate_number = int(full_cleaned_data.iloc[i]["TeammateNumber"])
    question_needed = '17.' + str(teammate_number)
    lst_responses.append(full_cleaned_data.iloc[i][question_needed])

question_17_me = question_shorthand[17][0]
analysis_v2[question_17_me] = lst_responses

In [204]:
#Question 17 team average
question_17_tm_avg = question_shorthand[17][1]
lst_responses = []

for i in range(len(full_cleaned_data)):
    teammate_number = int(full_cleaned_data.iloc[i]["TeammateNumber"])
    team_number = int(full_cleaned_data.iloc[i]["TeamNumber"])
    question_needed = '17.' + str(teammate_number)
    lst_responses.append(round(get_teammates_average(team_number, teammate_number, question_needed), 1))

analysis_v2[question_17_tm_avg] = lst_responses

In [205]:
#analysis_v2

In [206]:
#Question 17 class avg
question_17_class_avg = question_shorthand[17][2]
class_avg = np.nanmean(full_cleaned_data[["17.1", "17.2", "17.3", "17.4", "17.5", "17.6"]].replace({"No Response" : np.nan}).astype(float).to_numpy().flatten())
analysis_v2[question_17_class_avg] = round(class_avg, 1)

In [207]:
#Question 17 class std
question_17_class_std = question_shorthand[17][3]
class_std_arr = full_cleaned_data[["17.1", "17.2", "17.3", "17.4", "17.5", "17.6"]].replace({"No Response" : np.nan}).astype(float).to_numpy().flatten()
class_std_arr_no_na = class_std_arr[~np.isnan(class_std_arr)]
analysis_v2[question_17_class_std] = round(np.std(class_std_arr_no_na), 1)

### 18

In [208]:
#18 (me)

lst_responses = []

for i in range(len(full_cleaned_data)):
    teammate_number = int(full_cleaned_data.iloc[i]["TeammateNumber"])
    question_needed = '18.' + str(teammate_number)
    lst_responses.append(full_cleaned_data.iloc[i][question_needed])

question_18_me = question_shorthand[18][0]
analysis_v2[question_18_me] = lst_responses

In [209]:
#Question 18 team average
question_18_tm_avg = question_shorthand[18][1]
lst_responses = []

for i in range(len(full_cleaned_data)):
    teammate_number = int(full_cleaned_data.iloc[i]["TeammateNumber"])
    team_number = int(full_cleaned_data.iloc[i]["TeamNumber"])
    question_needed = '18.' + str(teammate_number)
    lst_responses.append(round(get_teammates_average(team_number, teammate_number, question_needed), 1))

analysis_v2[question_18_tm_avg] = lst_responses

In [210]:
#Question 18 class avg
question_18_class_avg = question_shorthand[18][2]
class_avg = np.nanmean(full_cleaned_data[["18.1", "18.2", "18.3", "18.4", "18.5", "18.6"]].replace({"No Response" : np.nan}).astype(float).to_numpy().flatten())
analysis_v2[question_18_class_avg] = round(class_avg, 1)

In [211]:
#Question 18 class std
question_18_class_std = question_shorthand[18][3]
class_std_arr = full_cleaned_data[["18.1", "18.2", "18.3", "18.4", "18.5", "18.6"]].replace({"No Response" : np.nan}).astype(float).to_numpy().flatten()
class_std_arr_no_na = class_std_arr[~np.isnan(class_std_arr)]
analysis_v2[question_18_class_std] = round(np.std(class_std_arr_no_na), 1)

### 19

In [212]:
#19 (me)

lst_responses = []

for i in range(len(full_cleaned_data)):
    teammate_number = int(full_cleaned_data.iloc[i]["TeammateNumber"])
    question_needed = '19.' + str(teammate_number)
    lst_responses.append(full_cleaned_data.iloc[i][question_needed])

question_19_me = question_shorthand[19][0]
analysis_v2[question_19_me] = lst_responses

In [213]:
#Question 19 team average
question_19_tm_avg = question_shorthand[19][1]
lst_responses = []

for i in range(len(full_cleaned_data)):
    teammate_number = int(full_cleaned_data.iloc[i]["TeammateNumber"])
    team_number = int(full_cleaned_data.iloc[i]["TeamNumber"])
    question_needed = '19.' + str(teammate_number)
    lst_responses.append(round(get_teammates_average(team_number, teammate_number, question_needed), 1))

analysis_v2[question_19_tm_avg] = lst_responses

In [214]:
#Question 19 class avg
question_19_class_avg = question_shorthand[19][2]
class_avg = np.nanmean(full_cleaned_data[["19.1", "19.2", "19.3", "19.4", "19.5", "19.6"]].replace({"No Response" : np.nan}).astype(float).to_numpy().flatten())
analysis_v2[question_19_class_avg] = round(class_avg, 1)

In [215]:
#Question 19 class std
question_19_class_std = question_shorthand[19][3]
class_std_arr = full_cleaned_data[["19.1", "19.2", "19.3", "19.4", "19.5", "19.6"]].replace({"No Response" : np.nan}).astype(float).to_numpy().flatten()
class_std_arr_no_na = class_std_arr[~np.isnan(class_std_arr)]
analysis_v2[question_19_class_std] = round(np.std(class_std_arr_no_na), 1)

## Add extra questions

In [216]:
full_cleaned_data.columns

Index(['index', 'Unnamed: 0', 'Email', 'TeamNumber', 'TeammateNumber',
       'RecipientLastName', 'RecipientFirstName', 'RecipientEmail', '2.1',
       '2.2', '2.3', '3', '3.5', '4.1', '4.5', '4.6', '4.2', '4.3', '4.4',
       '4.7', '5.1', '5.2', '5.3', '5.4', '5.5', '5.6', '6', '7', '14.1',
       '14.2', '14.3', '14.4', '14.5', '14.6', '15.1', '15.2', '15.3', '15.4',
       '15.5', '15.6', '16.1', '16.2', '16.3', '16.4', '16.5', '16.6', '17.1',
       '17.2', '17.3', '17.4', '17.5', '17.6', '18.1', '18.2', '18.3', '18.4',
       '18.5', '18.6', '19.1', '19.2', '19.3', '19.4', '19.5', '19.6', '25'],
      dtype='object')

In [217]:

#analysis_v2[question_shorthand[38.1]] = full_cleaned_data["38.1"]
##analysis_v2[question_shorthand[38.2]] = full_cleaned_data["38.2"]
#analysis_v2[question_shorthand[38.3]] = full_cleaned_data["38.3"]
#analysis_v2["Q25"] = full_cleaned_data['33']
#analysis_v2["What did you learn from the first check-in survey feedback?"] = full_cleaned_data['57']
#analysis_v2["Q33_TEXT"] = full_cleaned_data['33.4.TEXT']
analysis_v2["Q25"] = full_cleaned_data['25']

In [218]:
analysis_v2

,FullName,Email,TeamNumber,TeammateNumber,Our team is clear about the shared goals for our work together,SharedGoalTeamAvg,SharedGoalClassAvg,SharedGoalClassStDev,We each know about one another's individual goals for our work together,IndvGoalTeamAvg,...,Communicate2ClassStDev,ExpertiseMe,ExpertiseTeammateAvg,ExpertiseClassAvg,ExpertiseClassStDev,RespectMe,RespectTeammateAvg,RespectClassAvg,RespectClassStDev,Q25
0,Daniel Ruiz,druizjr193@berkeley.edu,1,1,7.0,7.0,6.2,0.9,6.0,6.7,...,1.0,6.0,7.0,6.2,1.1,6.0,7.0,6.4,0.8,1
1,Xochitl Ortega,397xochitl@berkeley.edu,1,2,7.0,7.0,6.2,0.9,7.0,6.7,...,1.0,7.0,7.0,6.2,1.1,7.0,7.0,6.4,0.8,2
2,Shadi Hassani,shadihassani@berkeley.edu,1,3,7.0,7.0,6.2,0.9,7.0,6.7,...,1.0,7.0,7.0,6.2,1.1,7.0,7.0,6.4,0.8,1
3,Michelle Chow,michellelychow@berkeley.edu,2,1,6.0,6.2,6.2,0.9,5.0,6.0,...,1.0,5.0,6.7,6.2,1.1,6.0,6.7,6.4,0.8,2
4,Jazlyn Peraza,jazperaza@berkeley.edu,2,2,6.0,6.2,6.2,0.9,6.0,6.0,...,1.0,5.0,6.3,6.2,1.1,6.0,6.7,6.4,0.8,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
192,James Gotesky,jamesrgotesky@berkeley.edu,45,3,7.0,6.0,6.2,0.9,7.0,6.0,...,1.0,6.0,6.0,6.2,1.1,7.0,6.0,6.4,0.8,1
193,Jacob Feingold,jacobfeingold@berkeley.edu,45,4,5.0,6.0,6.2,0.9,5.0,6.0,...,1.0,6.0,5.8,6.2,1.1,6.0,6.2,6.4,0.8,2
194,Eric Yamaguchi,ericyamaguchi@berkeley.edu,45,5,6.0,6.0,6.2,0.9,6.0,6.0,...,1.0,6.0,6.0,6.2,1.1,6.0,6.2,6.4,0.8,2
195,Henry Libermann,henrylibermann6718@berkeley.edu,45,6,NaN,6.0,6.2,0.9,NaN,6.0,...,1.0,No Response,5.0,6.2,1.1,No Response,5.2,6.4,0.8,No Response
196,Evan Petty,petty.evan@berkeley.edu,46,1,NaN,NaN,6.2,0.9,NaN,NaN,...,1.0,No Response,NaN,6.2,1.1,No Response,NaN,6.4,0.8,No Response

In [219]:
analysis_v2.to_csv("ME103_MACROANALYSIS_V1.csv")